<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
   
<h2 style="color:green; text-align:center">Diploma in Electrical Engineering</h2>
<img src="assets/deee1.png">
<p>Are you interested in the electrical field and want to make your career as an electrician? If yes, and you are browsing about this course because you do not have much information about Diploma in Electrician course, then let me tell you that your search is over because you landed at the right place. In this article, I have tried to cover all the aspects of a diploma in electrical engineering course very well.</p>
<p>A diploma in Electrical Engineering is a 3-year junior engineering program that deals with the study of electricity and its various aspects. It is also known as a polytechnic in electrical engineering. It is one of the popular junior engineering programs that students pursue after completing their 10th and 12th classes.</p>
<p>The minimum eligibility criteria to take admission in a diploma in electrical engineering course is 10th passed or equivalent exam which must be passed by a recognized board of education. Students can also take admission after completing 12th class by qualifying for an entrance exam which is called Lateral Entry Polytechnic Examination which is conducted in every state in India by their respective state education board.</p>
<p>You can do this course from any polytechnic college that offers an electrical engineering course. In India, there are many private as well as government polytechnic colleges that offer diploma in electrical engineering courses. After completing the course, you can also get job opportunities in many industries.</p>
<h2 style="color:green;">Diploma in Electrical Engineering Course: Overview</h2>
<img src="assets/deee2.png">
<h2 style="color:green;">What is Diploma in Electrical Engineering?</h2>
<p>Diploma in Electrical Engineering is a three-year junior engineering program also known as a polytechnic in electrical engineering. It deals with the study of electricity and its applications, some other terms are electronics, electromagnetism, electrical devices, etc. It is one of the most popular electrical courses after 10th
<p>It is a skill-based technical course in which you will get both theoretical as well as practical knowledge. In the diploma in Electrical course, you will learn a lot about electricity such as how electricity works, the uses of electricity, how electricity is made, current, types of current, voltage, circuits, power, transformers, generator, types of generators, electric motor, types of electric motor, electric devices, electric machines, and many more.
</p>
<h2 style="color:green;">Diploma in Electrical Engineering after 12th (Lateral Entry)
</h2>
<p>If you have passed in 12th standard then you can take direct admission in the 2nd year of the Diploma in Electrical Engineering course. For that, you have to qualify for the entrance exam which is commonly called as Lateral Entry Polytechnic Examination in a majority of the state in India. The state education board conducts the Lateral Entry Polytechnic Examination. The selection process is based on the performance in the entrance exam.</p>
<p>The majority of the polytechnic colleges in India accept admission through lateral entry. However, the percentage of seats in the lateral entry quota is less than the general entry quota. Also, You should have Physics, Chemistry, and Mathematics subjects in 10+2. Basically, you should be 12th pass from the science stream.

</p>
<h2 style="color:green;">Diploma in Electrical Engineering Eligibility</h2>
<p>Candidates who want to do a diploma in electrical engineering course from a polytechnic college must full fill these below eligibility criteria. The eligibility criteria for a diploma in electrical engineering course are as follow:

</p>
<li>Candidates must have passed in 10th standard or equivalent from a recognized board of education.
</li>
<li>Candidates should be passed 10th from the science discipline.
</li>
<li>Candidates should also be admitted after 12th.
</li>
<li>Candidates should take physics, chemistry, and mathematics subjects in 10+2.
</li>
<li>Candidates should get at least 40% marks in their respective examinations.
</li>
<li>Candidates should minimum of 15 years old at the time of admission.
</li>
<h2 style="color:green;">Diploma in Electrical Engineering Duration
<p>The duration of the diploma in electrical engineering course after 10th is 3 years and after 12th is 2 years. There are 2 semesters in each year and the duration of each semester is 6 months. So, If you are doing a Diploma in Electrical Engineering course after 10th then there will be a total of 6 semesters for you and if you are doing it after 12th then there will be 4 semesters.
</p>
<img src="assets/deee3.png">
<h2 style="color:green;">Diploma in Electrical Engineering Admission 2022
</h2>
<p>Generally, admission to diploma in an electrical engineering course in any government polytechnic college is done by conducting entrance examinations but there are many polytechnic colleges that take direct admission or on the basis of merit lists. So, if you want to take admission to government polytechnic colleges then you have to qualify for the entrance examination which is conducted by the state education board authorities.
</p>
<h4 style="color:red;">Direct Admission</h4>
<p>In the direct admission process, candidates have to fill out the admission application form along with their documents which are necessary at the time of admission.
</p>
<h4 style="color:red;">Merit-Based Admission</h4>
<p>In merit-based admission, the selection process is based on the merit list which is released by the authorities. Firstly, candidates should apply by filling out the admission form with documents. After a couple of days, the authorities will release the merit list.
</p>
<h4 style="color:red;">Entrance Exam Based</h4>
<p>In entrance-based admission, the selection process of candidates has based on the results that candidates get in the exam. Every state education board in India conducts a polytechnic entrance exam which you can give after 10th class.
</p>
<h2 style="color:green;">Diploma in Electrical Engineering Course Fees
</h2>
<p>The course fees for a diploma in Electrical Engineering course vary from college to college. Government polytechnic colleges have lesser fees as compared to private polytechnic colleges. It also depends on the state because some states have higher fees as compared to other states. On average the fees in government polytechnic colleges and private polytechnic colleges are:
</p>
<li>Government:- ₹10,000 to ₹50,000
</li>
<li>Private:- ₹50,000 to ₹2,00,000
</li>
<h2 style="color:green;">Diploma in Electrical Engineering Jobs Scope
</h2>
<p>You can get a lot of employment or job opportunities after the completion of the diploma in electrical engineering course. Industrialization is increasing day by day. A lot of companies are growing and creating job opportunities. You can get a job as an electrician in factories or plants. You can also get a government job in the electricity department of government after completing the course. Some of the job profiles for which you may work as a profession are as follow:
</p>
<li>Technical Trainer</li>
<li>Assistant Engineer</li>
<li>Project Engineer</li>
<li>Executive Assistant</li>
<li>Electric Designer Engineer</li>
<li>Transformer Design Engineer</li>
<li>Teaching Associate</li>
<li>Plant Executive</li>
<li>Quality Assurance Engineer</li>
<h2 style="color:green;">Diploma in Electrical Engineering Salary
</h2>
<p>It is difficult to tell the exact salary of an electrical engineer because the salary depends on various factors such as their professional position, experience, communication skills, etc. On average a fresher would get 1.8 lakhs to 3 lakhs per annum after completing the diploma course.</p>
<li>Average Salary:- ₹1,80,000 – ₹3,00,000 per annum.</li>
<h2 style="color:green;">What to do after Diploma in Electrical Engineering?
</h2>
<li>You can do B.Tech in Electrical Engineering.
</li>
<li>You can do any Undergraduate program.
</li>
<li>You can do other diploma-level courses.
</li>
<li>You can do other polytechnic courses.
</li>
<li>You can do vocational training courses.
</li>
<h2 style="color:green;">Diploma in Electrical Engineering Colleges</h2>
<img src="assets/deee4.png">










