<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Dropdown Menu Bar</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
	<nav class="p-15">

		<ul>
			<li><a class="active" routerLink="/main">Home</a></li>


			<li>
				<a routerLink="/courseread">Courses</a></li>




		






			<li><a routerLink="/qr">course information</a></li>
			<!-- <li><a routerLink="/gallery">About</a></li> -->
			<li><a routerLink="/contact">contact</a></li>
			<li><a routerLink="/create">Feedback</a></li>
			<!-- <li><a routerLink="/profile">Profile</a></li> -->

			<li><a routerLink="/main">Logout</a></li>
		</ul>
	</nav>


	<div align="center">
		<h1>scan here to know more information about courses</h1>
		<br>
<img src="assets/qr_download.png">
<br>
<br>
<p>Click here to know more about Courses</p>
<a href="https://6h1hmm6fsrapzoccidhz9q.on.drv.tw/futuregoal/future.html">Course Details</a>
</div>
</body>