


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
     
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
    
    </head>
    <body>
        <!-- Responsive navbar-->
              <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            
                         <h1 class="display-5 fw-bolder text-white mb-2" >NARASARAOPETA ENGINEERING COLLEGE</h1>
                          
                            <img src="assets/nec.png">
                            <h4 class="display-5 fw-bolder text-white mb-2">DEPARTMENT OF COMPUTER SCIENCE AND ENGINEERING</h4>
                            <!-- <h2 class="display-5 fw-bolder text-white mb-2">Community Service project </h2> -->
                            <h2 class="display-5 fw-bolder text-white mb-2"> <span> FUTURE GOALS</span></h2>
                          <h4 class="display-5 fw-bolder text-white mb-2">Choose a right path for your carrer</h4>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/registerinsert">register</a>
                              
                                <a class="btn btn-outline-light btn-lg px-4" routerLink="/logininsert">Login</a>
                                <a class="btn btn-outline-light btn-lg px-4" routerLink="/adminlogin">adminLogin</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <router-outlet></router-outlet>

