<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
    
<h2 style="color:green; text-align:center">Diploma in Fashion Designing </h2>
<img src="assets/fashion1.png">
<h2 style="color:green;">Fashion Designing </h2>
<p>Diploma in Fashion Designing After 10th is a 1-year course that is based on a revised curriculum of fashion trends and designing and guiding students towards various operative careers in this field. Usually, the duration is one year but some colleges also offer 2 years diploma courses.</p>
<p>Students who are interested in the course must have completed class 10th from a recognized board.</p>
<p>Institutes such as Fashion Writers, Brand Manager, Fashion Coordinator, Pattern Makers, Designers also offer the course.</p>
<p>After pursuing a diploma in fashion designing, a candidate can work as a Fashion Buyer, Visual Merchandiser, Fashion Influencer, Brand Manager, Quality Controller, Retail Manager, Entrepreneur, etc.</p>
<h2 style="color:green;">Diploma in Fashion Designing After 10th: Highlights</h2>
<img src="assets/fashion2.png">
<h2 style="color:green">Diploma in Fashion Designing After 10th: Eligibility Criteria</h2>
<p>Eligibility criteria admission to be fashion designing course is as follows:</p>
<li>Candidates who want to pursue a diploma in fashion designing should have completed at least class 10th. Few colleges give admission to the students after 12th like NIFT, JD Institute, etc.</li>
<li>Those students who want to make their career after UG or PG in fashion designing also pursue the course to attend the basic knowledge and skills of it. Therefore no age limit is there to pursue a diploma in fashion designing.</li>
<h2 style="color:green;">Diploma in Fashion Designing After 10th: Admission Process</h2>
<p>Admission criteria differ from college to college for the diploma in fashion designing course. Most of the private colleges offer direct admission to the students based on the merit of class 10th.</p>
<p>Few colleges like NIFT enroll students based on the performance in the Written Round followed by the personal interview. Students who apply for the course through online and offline applications are granted direct admission to the course. Once they get selected they are notified by the colleges and requested to pay the admission fees to secure their seat.
</p>
<p>Written Exam-based admission: Few colleges conduct subject-based aptitude tests to Android candidates for the course, after clearing the group discussion and/or personal interview round.
</p>
<h2 style="color:green;">Diploma in Fashion Designing After 10th: Entrance Exams</h2>
<p>There are no specific entrance exams for this diploma course, but Madras Institute of Fashion Technology, NIFT, JD Institute of Fashion technology, among others, conducts written tests, followed by other admission rounds.</p>
<p>The Written Test could be either Aptitude based or Subject Knowledge-based, that helps colleges to screen students into the final round of admission.
</p>
<p>For final admission, there may be a Group Discussion and Personal Interview Round in these colleges that measures the interest, aim, career objectives and overall personality of the students.
</p>
<h2 style="color:green;">Diploma in Fashion Designing Top Colleges</h2>
<img src ="assets/fashion3.png">
<h2 style="color:green;">Benefits of Doing Diploma in Fashion Designing after 10th</h2>
<p>There are many reasons for pursuing a Diploma in fashion designing, some of the reasons are mentioned below.
</p>
<li>A diploma in fashion designing offers candidates practical employment experience and skill development that will help them in preparing for an excellent exciting fashion career.
</li>
<li>The course also offers an opportunity to enhance their skills and qualifications and thus make them suitable job applicants in a competitive job market of the fashion industry.
</li>
<li>With the foundation based on the expertise, experience, and the workshops that are conducted by industry experts, students get to develop a strong basis for their skill set special in the field of design.
</li>
<li>There are a lot of employment opportunities in many private companies and public sector units after completing a diploma in fashion design
</li>
<h2 style="color:green">Skills required to pursue Diploma in Fashion Designing After 10th</h2>
<p>Various skills are required by the candidates to pursue a diploma in fashion designing courses skillset.</p>
<img src="assets/fashion4.png">
<h2 style="color:green">Diploma in Fashion Designing After 10th: Scope</h2>
<p>Students after completing a Diploma in fashion designing have a huge scope. After inculcating fashion skills, the students can expand their horizons. Some of the scope that a Diploma in fashion designing provides are:</p>
<li>After pursuing the diploma in fashion designing course, various employment opportunities are there in many private companies and public sector units. You can get jobs in sectors such as styling, clothing, retaining, buying, etc.</li>
<li>A candidate can also work independently as well as an entrepreneur, fashion writer, blogger, influencer and can earn big money while being their boss.</li>
<li>In the fashion industry, more importance is given to the experience of a person rather than his/her academic qualification. Therefore, the right skills, creativity, and experience can help students a lot in their career and personal growth.
</li>
<li>Students can also opt for bachelor and Advanced Diploma courses such as Bachelor of Design, Advance Diploma in Interior Design, and many other certification courses.
</li>
<h2 style="color:green">Diploma in Fashion Designing After 10th: Jobs
</h2>
<p>Students after completing a diploma in fashion designing will have no dearth finding a well-paid job. Some of the jobs available after completing a diploma in fashion designing are mentioned below:
</p>
<img src="assets/fashion5.png">
