<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>
<html><body>
    <h2>About Diploma in Computer Science Engineering</h2>
    <img src="assets/dcse.png">
    <p>Diploma in Computer Engineering is a course designed for students who wish to opt for a computer science course after class 10th studies. The course provides a basic understanding of computer science, engineering concepts and mathematical techniques.</p>
    <p> It helps students acquire skills and knowledge to become an IT professional in future.  The course duration is of 3 years offered in various institutes in India.  Diploma in Computer Engineering is the combination and theoretical and practical concepts and finds its implementation in IT firm, communication sector, research and development, medical field etc.</p>
    <p>Candidates can apply for Diploma in Computer Engineering course after successfully completing Class 10th studies from a recognized institute. All details related to the Diploma in Computer Science Engineering course can be checked here.
    </p>
    <h2>Diploma in Computer Science Engineering Highlights</h2>
    <h3>Following are the major highlights of the Computer Science Engineering course: -</h3>
    <img src="assets/dcse1.png">
    <h2>Diploma in Computer Science Engineering Eligibility Criteria</h2>
    <li>The candidate must have passed Class X from a recognized board.</li>
    <li>He/ She must have studied Mathematics.</li>
    <li>
    The minimum percentage obtained in the qualifying board exam may vary institute-wise. Candidates can confirm the same before applying in the respective institute.
    </li>
    <h3>Diploma in Engineering Admission Process</h3>
    <p>Many of the institutes accept the admission of students for Computer Science Engineering based on diploma entrance exams.</p>
    <p>Candidates must apply for the entrance exam and score the qualifying marks for admission in the diploma course. After taking the entrance test., the merit list candidates must attend counselling process to confirm sear allotment in the respective institute.</p>
    <h4>Check the list of state-wise entrance exams for Diploma in Computer Science Engineering here: -</h4>
    <li> Polytechnic Common Entrance Test Telangana State (TS POLYCET)</li>
    <li>Polytechnic Common Entrance Test Andhra Pradesh (AP POLYCET)</li>
    <li>Karnataka Diploma Common Entrance Test (DCET)</li>
    <li>Maharashtra State Board of Technical Education Polytechnic Entrance (MSBTE)</li>
    <li>Joint Entrance Examination Council of Uttar Pradesh (JEECUP)</li>
    <li>Bihar Diploma Certificate Entrance Competitive Examination (DCECE)</li>
    <li>Jharkhand Polytechnic Entrance Competitive Exam (Jharkhand PECE)</li>
    <li>Odisha Diploma Entrance Test (Odisha DET)</li>
    <li>Punjab Joint Entrance Test (Punjab PET)</li>
    <li>Haryana Diploma Entrance Test (HSTES DET)</li>
    <li>Madhya Pradesh Pre Polytechnic Test (MP PPT)</li>
    <h2>
    Diploma in Computer Science Engineering and B.Tech Computer Science Engineering are two different courses with their own set of advantages and disadvantages. Here is a comparison between the two:</h2>
    <h4>1.Duration:</h4><p>Diploma in Computer Science Engineering is a 3-year course, while B.Tech in Computer Science Engineering is a 4-year course.</p>
    <h4>2.Eligibility: </h4><p> To pursue Diploma in Computer Science Engineering, a student needs to have passed 10th standard or equivalent examination with Mathematics and Science as compulsory subjects. To pursue B.Tech in Computer Science Engineering, a student needs to have passed 12th standard or equivalent examination with Physics, Chemistry, and Mathematics as compulsory subjects.</p>
    <h4>3.Course Curriculum:</h4><p>Diploma in Computer Science Engineering focuses more on practical knowledge and skill development while B.Tech in Computer Science Engineering provides a more comprehensive understanding of the subject, including both theory and practical aspects. B.Tech also covers advanced topics in computer science engineering, such as artificial intelligence, machine learning, and data science.</p>
    <h4>4.Job Opportunities: </h4><p> B.Tech in Computer Science Engineering provides better job opportunities in both private and government sectors as compared to a diploma. B.Tech graduates can apply for various job roles like software engineer, web developer, data analyst, etc. On the other hand, Diploma holders can work as junior software engineers, hardware engineers, computer technicians, etc.</p>
    <h4>5.Higher Studies: </h4><p>B.Tech in Computer Science Engineering provides better opportunities for higher studies, like pursuing M.Tech or PhD, which may not be available to diploma holders.</p>
    <h4>6.Cost: </h4><p>Generally, the cost of pursuing a Diploma in Computer Science Engineering is lower than that of pursuing B.Tech in Computer Science Engineering.</p>
    <h2>Diploma in Computer Science and Engineering Jobs and Salary</h2>
    <h2>Top Job Profile and Average Salary are given below:</h2>
    <img src="assets/dcse2.png">
    <div ><h2>Job Profiles and Salaries </h2></div>
    <img src="assets/dcse3.png">
    <h2>Diploma in Computer Science and Engineering Scope</h2>
    <h4>The most popular choices of education on completion of Diploma in Computer Science and Engineering as follows.</h4>
    <h4>1.BSc:</h4><p>If one wishes to continue in the same field of education the first program of choice is a BSc Computer Applications/ Science. It is a three-year course and the eligibility criteria include passing class 12 in relevant streams. See More: Top Computer Applications Colleges in India</p>
    <h4>2.PGD:</h4><p>A large number of Diploma holders choose to go for the PGDM course. Admissions are offered through the national level entrance test. See More: Top PG Diploma in Computer Applications Colleges in India</p>
    <li>Competitive Examinations: Another route the Diploma holders can go for is to prepare for competitive examinations.</li>
    