<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>
<h1 style="color:green; text-align:center;">Photography Courses </h1>
<img src="assets/dphoto1.png">
<h3>Photography Courses After 10th:-</h3><p>Photography is defined as the art and science of capturing and processing pictures. It requires the use of cameras, frames, and software programs (for picture processing and editing), as some of the main skills. If you are drawn to the visual world and want to capture what surrounds you, you can transform your passion for photography into a profession and earn money. Photography is a non-academic career, but one that requires dedication and patience.</p>
<p>You must have both technical and creative skills to become an excellent photographer. Colours, images, illumination, and other elements must spark your attention and expertise. With the advancement of technology, the world of photography is constantly evolving. There is no quick way to make a successful career in photography. Hence, you must be quick-witted and eager to learn throughout your career. Some abilities and talents that you would require to successfully pursue a photography course after 10th would be creativity, willingness to travel and work at irregular hours, patience, originality, and so on.</p>
<p>The minimum educational requirements for a professional photography course is class 10. These courses cover photography, angle, and lighting, as well as technical knowledge of tools such as cameras, and awareness of fine arts. Students who have completed class 10 in India are eligible to enroll in the below-mentioned courses.</p>
<h2 style="color:green;">List of Photography courses after 10th </h2>
<img src="assets/dphoto2.png">
<h2 style="color:green;">Top Photography Courses After 10th </h2>
<img src="assets/dphoto3.png">
<h2 style="color:green;">Why Pursue Photography Courses After 10th?</h2>
<p>Photography is a vocational subject that emphasizes theory while providing hands-on experience. To flourish in photography, individuals must put in many hours of practice. A candidate who has completed their 10th Board examination is qualified for photography courses after the 10th, often a one-year study in which applicants gain a theoretical understanding of photography fundamentals and practical instruction to enhance their photographic talents.<p>
<p>A Photographer is a highly skilled professional who takes photographs with a camera. A variety of tools may be employed to improve their photographic abilities. Some of the common responsibilities of a photographer include the following:</p>
<p> &#10148; Putting together photography equipment</p>
<p>&#10148; Selecting and establishing potential sites for their photography</p>
<p>&#10148; Taking photographs</p>
<p>&#10148; Marketing the company, particularly if the student is an independent photographer</p>
<p>&#10148; Image editing and retouching</p>
<p>&#10148; Photographs that are reproduced and framed</p>
<p>&#10148; Doing research and creating contacts</p>
<h2 style="color:green;">Best Photography course after 10th- ITI Digital Photography</h2>
<p>Industrial Training Institute (ITI) Digital Photographer is a diploma-level course offered by the government and private institutes in India. The ITI Photography course after 10th is designed for those who want to improve their photography and composition abilities while also learning about picture editing.</p>
<h4 style="color:red;">Eligibility: </h4><p> Students who have completed class 10 from a recognised board are qualified to apply for ITI photography course after 10th.</p>
<h4 style="color:red;">Duration:</h4><p>The duration of ITI photography course after 10th is of one year, and is divided into 2 semesters.</p>
<h4 style="color:red;">Institutes:</h4><p>ITI photography course after 10th can be pursued in almost every state of India. Some of the popular institutes that provide ITI Photography courses after 10th are-</p>
<li>Government Industrial Training Institute, Pune</li>
<li>Advanced Training Institute, Ludhiana</li>
<li>Advanced Training Institute, Kolkata</li>
<li>Mahadev Private Industrial Training Institute, Uttar Pradesh</li>
<h2 style="color:green;">Best Photography course after 10th- Diploma Courses in Photography</h2>
<p>Diploma in Photography after 10th includes everything from basic to advanced photographic studies. The training guarantees that a strong technical and artistic foundation is established. Students of photography can put their skills to use in a variety of disciplines, including advertisements, fashion, wildlife, healthcare, and much more.</p>
<h4 style="color:red;">Eligibility: </h4><p>Students who have completed class 10 from a recognized board are qualified to apply for a diploma in photography after 10th. Most institutes providing a diploma in photography after 10th prefer that students have English as one of their compulsory subjects in class 10.</p>
<h4 style="color:red;">Duration:</h4><p>Diploma in photography after 10th is usually for 1-2 years, depending on the chosen specialization. Many institutes provide diplomas in photography after 10th as a part-time course.</p>
<h4 style="color:red;">Institutes:</h4><p> Some of the institutes which offer diploma in photography after 10th are-</p>
<li>MIT-WPU,pune</li>
<li>Le Mark School of Art, Mumbai</li>
<li>AAFT, Delhi</li>
<li>Morph Academy, Chandigarh</li>
<h2 style="color:green;">Best Photography course after 10th- Certificate Courses</h2>
<p>The shortest programs are certificate programs. Certificate photography courses after 10th are available at several private institutes across India. It is intended to give you a comprehensive introduction to the subject and help you grasp the fundamentals of Photography. It will help you lay a solid foundation and broaden your horizons in the field.</p>
<h4 style="color:red;">Eligibility: </h4><p>Students who have completed the 10th grade from a recognised board are qualified to apply for this course.</p>
<h4 style="color:red;">Duration:</h4><p> The length of certificate courses in Photography can range from 1 month to 1 year, although the most popular certificate courses last around 6 months, consisting of 3 months of training and 3 months of practical experience.</p>
<h4 style="color:red;">Institutes:</h4><p>Some of the institutes that offer certificate photography courses after 10th are-</p>
<li>Le Mark School of Art, Mumbai </li>
<li>AAFT, New Delhi</li>
<li>Pixel Institute of Photography, New Delhi</li>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th</h2>
<p>Photography is a broad subject. It has a wide range of work options. Photography course after 10th can be utilised to specialise in specific sub-disciplines of photography. A professional Photographer can operate alone or with the help of colleagues. A Photographer can play a variety of jobs depending on their specialisation. Let us now discuss a few of them.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Fashion Photographer</h2>
<p>Fashion Photographers work in the fashion industry and specialise in apparel and personal appearance. In both print and electronic media, the images are used to promote new designs, celebrities, and publicise certain labels. Most fashion photography is done for commercials or fashion magazines like Vogue, Harper's Bazaar, or Elle. They earn around Rs.6-12 lakhs per year, depending on their experience and skills.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Industrial Photographer</h2>
<p>Industrial Photographers take pictures of commodities, machinery, infrastructure, and employees. These images are then utilized on websites as well as in marketing materials such as brochures, posters, commercials, and news articles. The goal is to portray the manufacturing process as well as the difficult duties that employees conduct. They make around 4-10 lakhs per year, depending on the firm they are hired at.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Wildlife Photographer</h2>
<p>Wildlife Photography course after 10th specialises in photographing wild animals and birds. This type of photography is significant not only in terms of artistic worth but also in terms of scientific relevance. It is one of the well-paid fields in photography. The average salary after completing wildlife photography course is around 9-12 lakhs per year.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Sports Photographer</h2>
<p>The goal of this form of photography is to capture an athletic event. It might be a big game or merely a warm-up session for an upcoming match. Capturing activity at a quick pace during athletic events is a demanding photography task. Experienced sports photographers make around 9 lakhs per year.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Event Photographer</h2>
<p>Marriages, business meetings, concerts, and exhibits are examples of large-scale or noteworthy events for which an event photographer is hired. An Event Photographer's purpose is to capture the atmosphere and aspects of gatherings for the client's promotional or personal needs. They earn an average of 6-10 lakhs per year.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Travel Photographer</h2>
<p>A Travel Photographer is a photographer who documents an area's beauty, inhabitants, culture, traditions, and heritage through photography. You can work full-time for a travel magazine (such as National Geographic or Outlook Traveller) or a web portal as a travel photographer. Freelancers are paid based on the number of images they can publish. They make around 3-9 lakhs per year.</p>
<h2 style="color:green;">Career prospects after pursuing photography course after 10th- Photojournalist</h2>
<p>Photojournalists, often known as news photographers, report news events through images. Their job is to use photos to communicate a story. A rebellion, the Olympics, a general election, or a small-town Memorial Day weekend parade are all potential. They not only take images, but they also write captions or other accompanying material to convey more information about each image. The average salary of photojournalists is 4-6 lakhs per year.</p>
<p>A photographer's job is fascinating and innovative at the same time. This is a career that has changed dramatically over the years. A photographer can operate as a freelancer or as part of a team for organisations such as journals, newspapers, blogs, and businesses. Photography necessitates not only persistence and talent but also technical understanding of how to utilise gadgets and instruments, as well as the usage of camera shutters and positions, which can be learned at various institutions providing diploma and certificate courses, as mentioned in the article.</p>
<h2 style="color:green;">Top Colleges offering Photography Courses After 10th</h2>
<p>Students can refer to the table below to learn about the various institutes providing popular courses after 10th</p>
<img src="assets/dphoto4.png">
<h2 style="color:green;">Skills Required for Photography Courses After 10th</h2>
<p>To be a competent professional photographer, one must properly understand photography techniques and intricacies. Also, the individual must be imaginative and have an eye for excellence.</p>
<p>Some of the important skills required for photography courses after 10th are enumerated in the list below</p>
<p>&#10148;Creativity</p>
<p>&#10148;Aesthetic sense</p>
<p>&#10148;Artistic flair</p>
<p>&#10148;Concentration and patience</p>
<p>&#10148;Great powers of observation and a keen eye for detail</p>
<p>&#10148;Eye for details</p>
<p>&#10148;Ability to learn fast in a dynamically-evolving environment</p>
<p>&#10148;A marked appreciation for the knowledge of photography's evolution</p>
<p>&#10148;Ability to work in a team</p>
<p>&#10148;Communication skills</p>
<h2 style="color:green;">Photography Courses After 10th Salaries</h2>
<p>Photography necessitates particular abilities in addition to the requisite qualifications. After acquiring the relevant skills and training, photographers can apply for many jobs and professions that match their talents. The many roles that photographers can play are outlined below. Photography salaries in India are enticing enough to lure many prospective students who wish to make a career in photography.</p>
<p>To know more about photography courses after 10th salaries, refer to the table below:</p>
<img src="assets/dphoto5.png">
<p>Photographers are in high demand in this age of "media explosion." After finishing their photography courses after the 10th, students may be given several options. They may work as digital media photojournalists, print media photojournalists, fashion photographers for magazines, video photographers for digital media, wildlife photographers, etc.</p>
<p>They might also work as independent photographers while freelancing for multiple clients. Initially, a photographer may make anywhere from INR 3 lakh per year, but as experience grows, so does their income.</p>






