
<html>
<style>
.back{
   width:1000px;
   height:3500px;
}

.box {
      margin: auto;
      width: 750px;
      height: 3500px;
      padding: 5px;
      text-align:left;
      }
.style_table,td{
border:2px solid black;}
th{
bgcolor:yellow;
}

</style>
<body>
<div class="back" style="background-image: url('https://thumbs.dreamstime.com/b/yellow-textured-plain-background-wallpaper-design-use-text-image-yellow-textured-plain-background-wallpaper-137515345.jpg')">
<div class="box" style="background-color:white;">
<h1 style="color:green; text-align:center">Vocational Courses</h1>
<div class="voc" style="background-image:url('')">
<div>
<p>Vocational courses enable people to work that requires technical knowledge along with artistic or practical skills. These courses do not focus on theoretical knowledge, instead, they are primarily designed to provide job centered training for very specific fields. These include Healthcare, Mass Media, Designers, Makeup Artists among others.</p>
<h2 style="color:blue;">Here the Category wise voactional Courses list After 10th</h2>
<a routerLink="pc" style="text-decoration:none"><h3 style="color:green;" >Paramedical courses after 10th:</h3></a>
<ul>
<li>Medical Lab Technology(MLT)Course</li>
<li>Physiotherapy Technician(PT) Course</li>
<li>Multipurpose Health Worker-Female(MPHW)</li>
<li>Ophthalmic Technician (OT)</li>
</ul>
<a routerLink="/voccommerce" style="text-decoration:none"><h3 style="color:green; ">Courses after 10th in Commerce</h3></a>
<ul>
<li>Accounting & Taxation</li>
<li>Marketing & Salesmanship</li>
<li>Office Assistantship</li>
<li>Banking & Financial Services</li>
<li>Insurance & Marketing</li>
</ul>
<a routerLink="/" style="text-decoration:none"><h3 style="color:green;">Diploma in Engineering after 10th:</h3></a>
<ul>
<li>Automobile Engineering Technician</li>
<li>Construction Technology</li>
<li>Computer Science and Engineering</li>
<li>Electronics Engineering Technician</li>
<li>Electrical Wiring & Servicing of Electrical Appliances</li>
<li>Rural Engineering Technician</li>
<li>Water Supply & Sanitary Engineering</li>
<li>DTP & Printing Technology</li>
</ul>
<a routerLink="/vochome" style="text-decoration:none"><h3 style="color:green;">Home Science Courses:</h3></a>
<ul>
<li>Commercial Garment Designing & Making</li>
<li>Fashion Garment Making</li>
<li>Hotel Operations</li>
<li>Pre-School Teacher Training(PTT)</li>
</ul>
<a routerLink=""style="text-decoration:none"><h3 style="color:green; ">Humanities & Other Courses:</h3></a>
<ul>
<li>Computer Graphics & Animation</li>
<li>Tourism & Travel Technique</li>
</ul>
<a routerLink="/vocagr"style="text-decoration:none"><h3 style="color:green;">Agriculture Vocational Courses after 10th in andhrapradesh:</h3></a>
<ul>
<li>Crop Production and Management</li>
<li>Dairying</li>
<li>Fisheries</li>
<li>Sericulture</li>
</ul>
<h3 style="color:green; text-decoration:none">List of Top Vocational Courses Colleges In Andhra Pradesh</h3>
<ul>
<li>GITAM, Visakhapatnam</li>
<li>Dantuluri Narayana Raju college - [DNR], Godavari</li>
<li>JKC College, Guntur</li>
<li>PB Siddhartha College Arts and Science, Vijayawada</li>
<li>Sri YN College, Narasapuram</li>
<li>Visakha Government Degree College for Women, Visakhapatnam</li>
<li>Andhra University,Visakhapatnam</li>
<li>Krishna University, Machilipatnam</li>
<li>Rashtriya Sanskrit Vidyapeeth Tirupati</li>
</ul>
<h2 style="color:green; ">Why study vocational course after 10th?</h2>
<p>Vocational courses are a great education option and the reasons to choose them are given below:</p>
<ul >
<li>Vocational courses teach students industry-specific skills that will help them find a successful career in a specific field.</li>
<li>There are many fields of study available like Automobile mechanics, Food technicians, Electricians, carpenters, photographers, and Software Developers.</li>
<li>After completing vocational education, the average annual salary is roughly INR 4 lakh.</li>
<li>The vocational courses are great for those who want to be employed right after their education.</li>
<li>The course fee is very reasonable and ranges between INR 10,000 – INR 1,50,000 for the entire course.</li></ul>
<h2 style="color:green;">Vocational Course After 10th Pros and Cons</h2>
<p>There are both pros and cons for vocational courses, hence we have discussed them here, </p>
<h3 style="color:green;">Pros</h3>
<ul>
<li>Vocational schools provide direct skills that aid in the development of a career. As early as six months, students can apply for jobs in the relevant profession.
</li>
<li>Most vocational institutions or universities only require a high school diploma and a basic understanding of math and English. Students do not need to earn perfect grades.
</li>
<li>Vocational courses can be completed online, allowing for greater convenience and an easier learning process. Students can continue their education while working. It saves time and money both.
</li>
<li>Vocational college programs are much shorter and less expensive. Furthermore, students have access to these colleges as long as they are accredited.
</li>
</ul>
<h3 style="color:green;">Cons</h3>
<ul>
<li>The most important disadvantage of attending a vocational college is that the credits offered are not as prestigious as those offered by traditional colleges. Furthermore, if a person later desires to enter a traditional institution, they may not be considered prerequisites.</li>
<li>Because vocational schools emphasize hands-on training and often have minimal academic work, the courses are not considered academically on par with traditional institutions.</li>
<li>One downside of vocational education is the low score when compared to applicants with a standard college degree.</li>
</ul>
<h2 style="color:green;">Vocational Course After 10th Subjects</h2>
<p>A few of the subjects and topics covered in Vocational courses are:</p>
<img src="C:\Users\siris\OneDrive\Pictures\fews.png" width=700 height=300>
<h2 style="color:green;">Job Profiles for Vocational Courses After 10th </h2>
<img src="C:\Users\siris\OneDrive\Pictures\job.png" width=750  height=400>
<h2 style="color:green;">Salary for Vocational Courses After the 10th </h2>
<p>The salary for vocational courses is mentioned below</p>
<h3 style="color:green;">Average Annual Salary</h3>
<img src="C:\Users\siris\OneDrive\Pictures\avgs.png" width=700 height=200>
<h3 style="color:green;">Experience Wise</h3>
<img src="C:\Users\siris\OneDrive\Pictures\exe.png" width=700 height=200>
</div>
</div>


    
