<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>
<html>
<body>
<h2>Diploma in Mechanical Engineering</h2>
<img src="assets/dmech.png">
<p>Diploma in Mechanical Engineering is a 3 year polytechnic course that can be pursued by students after class 10. Diploma in Mechanical Engineering deals with design, manufacture and maintenance of mechanical equipment by applying the basic principles of mechanics. </p>
<p>Mechanical Diploma or Mechanical Engineering polytechnic courses are offered to the candidates immediately after their 10th or equivalent exam. The eligibility for Mechanical diploma courses are a minimum score of 55% marks in class 10. A relaxation of 5% is provided to the candidates belonging to the reserved categories.</p>
<p>Admission to the Diploma in Mechanical Engineering Courses is done on the basis of entrance examinations conducted by the various state examination board.</p>
<p>After Diploma in Mechanical Engineering students can get admission in 2nd year of BTech course through BTech Lateral Entry. Most engineering students go for MBA after graduation so that they can get a managerial career and earn a high salary. Students need a BTech degree in order to study MTech.</p>

<p>After Diploma in Mechanical Engineering students can get admission in 2nd year of BTech course through BTech Lateral Entry. Most engineering students go for MBA after graduation so that they can get a managerial career and earn a high salary. Students need a BTech degree in order to study MTech.</p>
<img src="assets/dmech1.png">
<h2>MECHANICAL ENGINEERING: INTRODUCTION</h2>
<p>Mechanical Engineering is one of the oldest branches of Engineering. It is one of the core branches. Though this discipline has existed for a very long time, Mechanical Engineering developed into a separate branch of Engineering during the early 19th century. Industrial revolution that took place in Europe played a key role in the emergence of this branch as an independent discipline</p>

<p>Mechanical Engineering is the branch of Engineering that deals with design, manufacturing and operation of machinery. This branch uses concepts of engineering, physics and material science for design, manufacturing, operation and maintenance of mechanical systems.</p>

<p>This engineering branch touches our day to day lives directly or indirectly. From household equipment like washing machines and grinders to buses and trains that we use for transportation, mechanical engineering and machines are involved in one way or the other!</p>
<h2>DIPLOMA IN MECHANICAL ENGINEERING: COURSE DETAILS</h2>
<p>Diploma in Mechanical Engineering is a 3 years long program. The academic program is divided into 6 semesters, with each semester lasting for a period of 6 months.</p>
<li type="square">Few institutes are also offering Integrated program- Diploma + B.Tech. Degree in Mechanical Engineering.</li>
<h2>ELIGIBILITY CRITERIA</h2>
<li type="square">Candidates must be 10th pass with a minimum of 55% marks with Mathematics and English as the mainstream subjects.</li>
<li type="square">In some states the minimum marks required for the 10thor equivalent exam is 35%.</li>
<li type="square">Candidates studying vocational or ITI courses are eligible to get admission in the second year of the course.</li>
<li type="square">Candidates have to pass the different state entrance exam to get admission.</li>

<h2>DIPLOMA IN MECHANICAL ENGINEERING ADMISSION AND COLLEGES</h2>
<p>Many polytechnic, technical education and engineering institutes across India are offering this program. Most institutes usually have the ‘direct admission’ process. Interested students have to approach the institute and fill up the admission form. Seats will be allotted to deserving students on the basis of marks scored by them in 10th board examination (usually in Mathematics and Science subjects).</p>
<h2>Diploma in Mechanical Engineering Abroad </h2>
<p>Diploma courses in Mechanical Engineering in Abroad are quite rare. However there are some Diploma and certificate programs available. The different programs offered by foreign universities and their eligibility as per the nations has been discussed in the following section.</p>
<br>
<br>
<li><a href="">TOFIL</a></li>
<li><a href="">IELTS</a></li>
<h3>US </h3>
<li></li>
<li>The basic eligibility is that the candidates must pass their 10th or equivalent exam.</li>
<li>The candidates must pass the English proficiency test such as TOEFL, IELTS, etc.</li>
<li>Some colleges require the candidates to take the SAT exams.</li>
<h3>Canada</h3>
<li>The Minimum eligibility criteria is that the student must pass their 12th or equivalent exam. </li>
<li>The candidates must have mathematics and science in their 12th or equivalent level. </li>
<li>Some colleges require the candidates to score a minimum of 70% marks in their Board examination.</li>
<li>The candidates need to pass the english proficiency test such as TOEFL (around 80) or IELTS (minimum 5.5 to 6.5).</li>
<h3>Australia </h3>
<li>The candidates should pass their 12th class exam.</li>
<li>Candidates should pass the english proficiency test such as TOEFL (Minimum score of 50) or IELTS (Minimum Score 5.5)</li>
<li>Some colleges require the candidates to have mathematics and physics in their 12th.</li>
<h2>Diploma Mechanical Engineering: Future Scope</h2>
<li>The Diploma in Mechanical Engineering is the starting point in the field and students can join higher study courses after the course.
</li>
<li>The job market will open after the course and candidates can get jobs of around INR 20,000 per month.</li>
<li>There are lots of industries related to mechanical engineering candidates can join like - Vehicle Industry, Aviation, Manufacturing industry, etc. They can apply for jobs in both government and the private sector.</li>
<li>Mechanical Engineering is one of the most demanding skills in the job market and a Diploma in Mechanical Engineering is a smart way of entering the field.</li>
<li>The course is semi-equivalent to a bachelor's degree in the field and students can join B. Tech or BE direct in the second year. After B.Tech you can pursue M.Tech in the field.</li>
<li>After Diploma in Mechanical Engineering, you can join a certificate course related to the field like - CNC Training, CAD/CAM, CATIA, Unigraphics, etc.</li>
<h2>BTech Mechanical Engineering</h2>
<p>The candidates can take up BTech Course after the completion of the Diploma in Mechanical Engineering. The candidate has the option to get directly into the second year of the BTech in Mechanical Engineering by taking admission through the lateral entry scheme. This effectively saves them one year of the course duration. The BTech in Mechanical engineering allows the candidates to build upon the foundation that they have gained in the diploma courses and allows them to understand the Fundamental of mechanics, Instrumentation, Hydraulic power system, more vividly.</p>
<li type="square">The admission to the second year is done with the help of various entrance examinations such as  AP ECET, Haryana LEET, JELET, TS ECET, etc.</li>

<h2>MTech Mechanical Engineering</h2>
<p>MTech in Mechanical Engineering is a 2 years postgraduate course which offers students the combined study of mechanics, kinematics etc which will be used for construction purposes and in the installation of tools and machines.</p>
<p>Admission to MTech Mechanical courses is mainly on the basis of Entrance Examinations. Few Colleges also take students on the basis of Merit marks scored in the previous higher education.</p>
<br>
<h2>PhD Mechanical Engineering</h2>
<p>PhD Mechanical Engineering is a 2-5 years doctorate level course in Mechanics. A PhD Mechanical Engineering is a technical course that requires the students to have a strong knowledge of subjects like thermodynamics, mechanics and scientific computing.</p>
<br>
<p>Each university follows its own admission process. In most cases, the admission is done based on the marks acquired by you in your post graduation. However, some universities require you to sit for an entrance test.</p>
<h2>DIPLOMA IN MECHANICAL ENGINEERING SCOPE & JOBS</h2>
<p>Mechanical Engineering is one of the core branches of engineering. When it comes to job opportunities and career prospects, it is an evergreen branch!</p>
<br>
<p>Mechanical Engineering deals with design, production, installation, operation and maintenance of machine systems. Industries and units that need machine systems for functioning thus need mechanical engineers to take care of the above mentioned tasks. Especially sectors related to manufacturing, automobile, aerospace and energy are well known to recruit mechanical engineers.</p>
<br>
<p>In short, diverse job opportunities are available in front of Diploma holders. Government and private sector offers many job opportunities to mechanical engineers.</p>
<h4>Government Sector</h4>
<p>Talking about Government sector, well known recruiters include- BHEL, ONGC, PWD, Indian Railways, Indian Armed Forces, SAIL, Municipal Corporations, State Road Transportation Boards, Metro Rail Corporations, HSCL, RINL, HAL, GAIL, Coal India Limited etc.</p>
<h4>Private Sector</h4>
<p>When it comes to Private sector, some of the well known recruiters include- Automobile Companies (TATA, Maruti Suzuki, Mahindra & Mahindra etc), L&T, JBM Auto, TATA Steel, Reliance group, Kirloskar etc.</p>
<h2>Job profiles available (depending on specialization) include-</h2>
<li type="circle">Mechanical Engineer</li>
<li type="circle">Production Engineer</li>
<li type="circle">Maintenance Engineer</li>
<li type="circle">Automobile Engineer</li>
<li type="circle">Process Control Engineer
</li>
<li type="circle">Quality Control Engineer</li>
<li type="circle">CADD Specialist</li>
<li type="circle">Piping Engineer
</li>
<li type="circle">Aeronautical Engineer</li>
<li type="circle">Contractor</li>
 <h2>Salary</h2>
<p>tarting salary depends on a number of different factors. Prominent factors are- profile of the employer, employee skills, aptitude and grades attained by the employee. General starting salary is around 20-30k Rupees per month. In case of Government job, salary will be based on Pay Band and scale.</p>
<h2>Diploma in Mechanical Engineering Salary</h2>
<img src="assets/dmech2.png">
<h3>Salary trend based on jobs
<img src="assets/dmech3.png">