
<div class="d-block mx-auto w-50">
    <label for="username">Name</label>
    <input type="text" name="name" id="name" class="form-control" [(ngModel)]="name">
    <div class="d-flex my-2">
        <input type="submit" value="Get all" class="btn btn-primary" (click)="Read('All')">
        <input type="submit" [value]="'Get '+ name" class="btn btn-primary mx-1" (click)="Read(name)">
    </div>
    <p *ngIf="!(Results.length!=0 && GotResult)" class="text-danger">No Result to Show</p>
</div>
<table class="table w-50  mx-auto" *ngIf="Results.length!=0 && GotResult">
    <thead class="thead-dark">
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phonenumber</th>
            <th scope="col">message</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Data of Results">
            <th scope="row">{{Data[0]}}</th>
            <td>{{Data[1]}}</td>
            <td>{{Data[2]}}</td>
            <td>{{Data[3]}}</td>
         
        </tr></tbody></table>
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h1 class="modal-title fs-5" id="exampleModalLabel">Updated Values</h1>
				  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
			
				  <input type="text" name="name" id="name" placeholder="name" class="form-control my-1" [(ngModel)]="UpdatedUser.name">
				  <input type="text" name="email" id="email" placeholder="email" class="form-control my-1" [(ngModel)]="UpdatedUser.email">
				  <input type="text" name="phonenumber" id="phonenumber" placeholder="phonenumber" class="form-control my-1" [(ngModel)]="UpdatedUser.phonenumber">
				  <input type="text" name="message" id="message" placeholder="message" class="form-control my-1" [(ngModel)]="UpdatedUser.message">

				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="Update(name,UpdatedUser)">Save changes</button>
				</div>
			  </div>
			</div>
		  </div>
		  