<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
    
<h2 style="color:green; text-align:center">Diploma In game Designing
</h2>
<img src="assets/dgame1.png">
<h2 style="color:green;">What is the Diploma in Game Designing?
</h2>
<p>Diploma in Game Designing is exactly as advertised. It is a diploma course which teaches you how to design video games for different gaming platforms like mobile, computers, console, website, and so on. Unlike Diploma in Game Designing and Development, game designing courses in India focus primarily on the designing aspect and less on the programming aspect. While it also covers the fundamentals of game development as well, that is not the centre of attention of the Diploma in Game Designing course.
</p>
<p>Majority of game designing courses in India teach the imaginative, visual, and creative aspects of gaming. The application of these skills goes beyond the gaming industry. Diploma in Game Designing subjects holds water in fields such as multimedia, marketing, and information technology. Diploma in Game Designing syllabus teaches you to create engaging visuals and to convert those visuals into interactive environments. You also have the liberty to specialize in one of the many gaming platforms for your career after Diploma in Game Designing.
</p>
<p>If you wish to continue your education, you can pursue higher studies after a Diploma in Game Designing in programs such as B.Sc in game design and development in India. Gaming is considered to be one of the most fun and happening industries in the world. The industry is expected to cross $800 million by the year 2022. Needless to say, being a part of such a rapidly growing industry would be lucrative for you as well. Diploma in Game Designing salaries range between Rs. 2 Lakhs per annum to Rs. 5 lakhs per annum. Diploma in Game Designing jobs is some of the most well-paid jobs in the same educational qualification bracket.
</p>
<img src="assets/dgame2.png">
<h2 style="color:green;">Eligibility Criteria for Diploma in Game Designing
</h2>
<p>You will have to complete your HSC to be eligible for admission in Diploma in Game Designing. Any Diploma in Game Designing college would require you to submit your HSC mark sheet along with your school leaving certificate. Game designing courses after 10+2 in India can also be pursued with an equivalent educational qualification like 10th standard plus 3-year certificate or diploma course from a recognized institution.
</p>
<p>There are institutes which offer 3-year Diploma in game designing courses after 10th standard as well. But such institutes are few in number. Majority of Diploma in Game Designing colleges and institutes have eligibility criteria of 10+2 for admission in game designing courses in India.
</p>
<h2 style="color:green;">Diploma in Game Designing Admission
</h2>
<p>Students can enrol in a Diploma in Game Designing programme at a variety of universities after completing their 10+2 exams or equivalent from a recognised board or institution. To be accepted into the Diploma in Game Designing programme, candidates must get at least 45 percent on their 10+2 exams. On a merit-based basis, only eligible applicants will be accepted into this diploma programme.
</p>
<h2 style="color:green;">Admission process
</h2>
<p>The admission process for the Diploma in Game Designing is pretty straight forward for most game designing courses in India.
</p>
<li>You have to get the admission form from the institute/college or fill it up online.
</li>
<li>You will have to submit a copy of your HSC mark sheet and school leaving certificate along with the application for admission in Diploma in Game Designing college.
</li>
<li>You may also be required to submit an identity proof document and resident proof document for Diploma in Game Designing admission in certain colleges.
</li>
<p>The admission then takes place based on the HSC score merit list. Generally Diploma in Game Designing colleges issue three to four merit lists for admission. There are a few Diploma in Game Designing colleges in India which also conduct entrance exam tests. Admission in Diploma in Game Designing for such colleges depends on your entrance exam score.
</p>
<h2 style="color:green;">Diploma in Game Designing Skills Required
</h2>
<p>Creating a game firstly requires visual creativity as well as a passion for the field of gaming. Additionally, familiarity with the gaming industry can also be an advantage for admission in Diploma in Game Designing. Your Diploma in Game Designing syllabus will be focused on developing characters, environments, equipment, weapons, movements, and so on for the video games. For all of these, you need a good imagination. At the same time, you need to have an organized approach to be efficient and successful in your career after a Diploma in Game Designing. Artistic hobbies such as painting, drawing, and sketching can also be quite favourable for Diploma in Game Designing jobs.
</p>
<h3 style="color:blue;">Favourable Skills for Diploma in Game Designing Courses:
</h3>
<ul>
<li>Passion for the field
</li>
<li>Knowledge of Gaming Industry
</li>
<li>Creativity
</li>
<li>Visualization
</li>
<li>Sketching
</li>
<li>Painting
</li>
<li>Drawing</li>
<li>Basic Programming Knowledge
</li>
<li>Organizational Skills
</li>
<li>Strategic Thinking
</li></ul>
<h2 style="color:green;">Diploma in Game Designing Subjects:
</h2>
<img src="assets/dgame3.png">
<h2 style="color:green;">Diploma in Game Designing Fees Structure and Details:
</h2>
<p>Diploma in Game Designing Fee Range: Rs. 20,000 to Rs. 5,00,000

Most colleges would require you to pay forty to fifty per cent of the Diploma in Game Designing fees upfront. If the college follows a semester system, then fees will have to be paid at the beginning of each semester. There is Diploma in Game Designing courses in India with one year of duration and there are those with 3 years of duration. Diploma in Game Designing fees depends primarily on the duration of the course offered by the college. It also depends on the facilities and placement opportunities provided by the Diploma in Game Designing college to its students.

</p>
Scope of Diploma in Game Designing
<h2 style="color:green;">Scope of Diploma in Game Designing
</h2>
<p>Gaming is a constantly evolving industry. New trends to follow after Diploma in Game Designing are wearable gadget integrated gaming, AR gaming, and VR gaming. Companies also hire game designers to create branded games which can be used for marketing and advertising purpose</p>
<h2 style="color:green;">Career option after Diploma in Game Designing
</h2>
<p>The most obvious career after Diploma in Game Designing is in the gaming industry. But Diploma in Game Designing careers is not limited to this one industry alone. These skills learned at Diploma in Game Designing colleges translate well for the marketing of services or products, designing innovative brand campaigns, marketing through branded video games and so on. In the field of information technology, these skills are useful for creating interfaces of software and platforms.
</p>
<p>A multimedia career after Diploma in Game Designing would focus on animations, VFX, environment design, concept designs and so on. You will most likely be pursuing a Diploma in Game Designing career in the gaming industry. Diploma in Game Designing jobs ranges in the gaming industry from individual character designer all the way to creative director. Even in the gaming industry, you can choose to specialize in one aspect of the game like designing characters, designing concepts, designing environments, designing weapons, designing tools, managing lighting, programming movements, creating interfaces and so on.
</p>
<p>Each of these is an individual Diploma in Game Designing job which you can pursue. You can even create your own game from scratch and then release it in the open market as a video game entrepreneur. Entrepreneurship is fairly common in mobile games as a career after Diploma in Game Designing.
</p>
<h2 style="color:green;">Following are the most popular Diploma in Game Designing Careers:
</h2>
<h4 style="color:blue;">Game Designer: 
</h4>
<p>Computer programmes are used by game designers to build digital representations of the characters. Game designers then make storyboards outlining the game's major plot and dialogue, as well as animation sequences and character actions. A game designer's job is combining all of the game's many programmes and putting them together in a way that makes the game that people will play.
</p>
<h4 style="color:blue;">Video Game Designer:
</h4>
<p> Video Game Designers are in charge of tasks such as creating the game's character, the many levels included, the plot, the art, and other similar features. People who want to work as video game designers can write the game's code in a variety of programming languages.
</p>
<h4 style="color:blue;">UI Designer: 
</h4>
<p> The goal of a user UI designer is to improve the user experience by making interactions with a web page or programme quick, engaging, easy, and efficient. This user interface profession necessitates excellent design abilities as well as a focus on how well the software engages the user in a good way.
</p>
<h2 style="color:green;">Expected salary
</h2>
<p>Game designing courses in India generally bag a good salary in many fields. Your salary after Diploma in Game Designing also depends on the specialization you choose to pursue in the course or after the course. Many students choose to work independently as freelancers and they too earn a good game designing salary after completing the course. Diploma in Game Designing salary also depends on the location of the company as well as of the college you studied in. Most of the gaming companies are stationed in Metro cities and you might have to relocate to a metro city if you are not already living in one. Diploma in Game Designing salaries is also higher in metro cities.
</p>
<img src="assets/dgame4.png">
<h4 style="color:blue;">Disclaimer</h4>
<p>The salary figures mentioned anywhere in these articles are just for reference purposes. Please treat them as such. Actual salaries may vary depending on respective candidates, employer, job location and numerous other factors<p>








