<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
  
<h2 style="color:green; text-align:center;"> Psychology</h2>
<img src="assets/dpsychology1.png">
<h2 style="color:green;">What is Psychology?</h2>
<p>Psychology is the art and science of the human mind and the functions of the human mind, especially those affecting behavior in a given circumstance. Psychology is the study of conscious and unconscious elements of the human mind such as thoughts and feelings. Psychology aims to understand the behaviors of individuals and groups through general principles and research specific cases. In all, Psychology is concerned with the complex ways and patterns in which people think, feel, behave, communicate and perceive the world. </p>
<p>Sounds interesting but you are thinking of will a career in psychology complement your personal goals. Right? Are you wondering if a job in this field will make you happy daily? Let’s dig a little deeper into the pool of careers in psychology and see if it’s a right fit for you.</p>
<h2 style="color:green;">About the Course</h2>
<p>A diploma in psychology is generally of a duration between 1-2 year depending on the chosen course and university. Studying a diploma would help you gain a fundamental understanding of any field and let you delve deeper into what it entails. You can choose from undergraduate or PG diploma courses in this field and from different specialisations like counselling, criminal psychology and the like. These courses are designed to help you learn and master the different basic concepts related to psychology, human emotions, needs and behaviour and also help in developing the requisite skills to follow the career paths of a psychotherapist, counsellor, psychologist, etc. </p>
<h2 style="color:green;">How to go for psychology after 10th</h2>
<p>how to become a psychologist after 10th If you are interested in pursuing psychology as a career, there are a few steps you can take after completing your 10th grade:</p>
<h4 style="color:red;">Choose the right stream:</h4>
<p> After completing 10th grade, you will have to choose a stream that includes psychology as a subject. Psychology is usually a part of the Arts or Humanities stream. So, you can choose the Arts/Humanities stream for your 11th and 12th grade.</p>
<h4 style="color:red;">Complete your 12th grade:</h4>
<p> Once you have selected the Arts/Humanities stream, complete your 11th and 12th grade with psychology as one of the subjects.</p>
<h4 style="color:red;">Pursue a Bachelor's degree:</h4>
<p>After completing your 12th grade, you can pursue a Bachelor's degree in psychology. You can choose from various options like Bachelor of Arts (BA) in Psychology, Bachelor of Science (BSc) in Psychology, or Bachelor of Education (B.Ed) in Psychology.</p>
<h4 style="color:red;">Master's degree: </h4>
<p>After completing your Bachelor's degree, you can pursue a Master's degree in Psychology to gain in-depth knowledge of the subject.</p>
<h4 style="color:red;">Internship and Practice:</h4>
<p>It is essential to gain practical experience by interning or practicing under the guidance of experienced professionals to gain hands-on experience in the field.</p>
<h4 style="color:red;">Specialization:</h4><p>You can specialize in a specific field of psychology like clinical psychology, child psychology, social psychology, or educational psychology.</p>
<p>how to become a psychologist after 10th It is also essential to keep yourself updated with the latest research, trends, and technologies in psychology by reading books, attending seminars, and participating in workshops. Psychology is a rewarding career that requires patience, empathy, and dedication.</p>
<h2 style="color:green;">About psychology</h2>
<p>how to become a psychologist after 10th Psychology is the scientific study of the human mind and behavior. It involves examining how people think, feel, and behave, both as individuals and in groups. The field of psychology is diverse and covers various topics such as perception, cognition, memory, emotion, motivation, personality, development, social interaction, and mental health.</p>
<p>Psychology is a broad field, and there are many different subfields within it. Some of the most popular subfields of psychology include:</p>
<h4 style="color:red;">Clinical psychology:</h4>
<p> It focuses on the diagnosis and treatment of mental health disorders.</p>
<h4 style="color:red;">Counseling psychology:</h4>
<p>It involves helping people cope with problems and challenges in their daily lives.
</p>
<h4 style="color:red;">Developmental psychology: </h4>
<p>It studies how people develop and change throughout their lives.</p>
<h4 style="color:red;">Educational psychology:</h4>
<p>It examines how people learn and develop within educational settings.</p>
<h4 style="color:red;">Social psychology:</h4>
<p>It studies how people think, feel, and behave in social situations.</p>
<h4 style="color:red;">Cognitive psychology</h4>
<p>It studies mental processes such as perception, attention, memory, and reasoning.</p>
<h2 style="color:green;">Top Diploma in Psychology Colleges in India</h2>
<li type="square">Institute for Excellence in Higher Education (IHE) Bhopal</li>
<li type="square">Mata Gujri College</li>
<li type="square">Ranchi Institute of Neuro-Psychiatry and Allied Science (RINPAS)</li>
<li type="square">Bon Secours College for Women, Thanjavur</li>
<li type="square">CMR University</li>
<li type="square">Banaras Hindu University</li>
<li type="square">Netaji Subhas Open University (NSOU)</li>
<h2 style="color:green;">Popular Universities Offering Diploma in Psychology</h2>
<p>Popular universities around the world offer courses in psychology which you can choose from. Finding the right college or university for your chosen specialisation needs meticulous research. So, we have enlisted some of the best universities in the world and their prospective diploma courses you must know about:</p>
<img src="assets/dpsychology2.png">
<h2 style="color:green;">Future scope in psychology</h2>
<p>how to become a psychologist after 10th Is psychology a good career in india The future scope in psychology is promising, as there is an increasing demand for mental health services and professionals who can provide effective interventions and treatments for a wide range of mental health issues.</p>
<p>The COVID-19 pandemic has highlighted the need for mental health services, as many people are struggling with stress, anxiety, depression, and other mental health concerns. This has led to an increased demand for including psychologists , counselors, and therapists.</p>
<p>Advancements in technology are also creating new opportunities for psychologists to deliver services remotely, such as through teletherapy or online counseling. This can expand access to mental health services, particularly for people who live in rural or remote areas.</p>
<p>how to become a psychologist after 10th In addition, there is growing recognition of the importance of mental health in workplaces, schools, and other settings. This has led to an increased demand for industrial-organizational psychologists, school psychologists, and otherspecialized areas of psychology.</p>
<p>how to become a psychologist after 10th Is psychology a good career in india Overall, the future scope in psychology is bright, as the field continues to evolve and adapt to meet the changing needs of society. It is an exciting time to pursue a career in psychology and make a positive impact on people's lives.</p>
<h2 style="color:green;">Jobs & Careers</h2>
<p>Psychology graduates can explore a host of career opportunities in both private and public sectors after completing a diploma . Professionals often find employment in NGOs, welfare organizations,  prisons, research establishments, schools, rehabilitation centres, community mental health centres etc. Some of the popular job options you must consider after completing a diploma in Psychology are:</p>
<li type="square">Psychotherapist</li>
<li type="square">Social Psychologist</li>
<li type="square">Community Worker</li>
<li type="square">Counselor</li>
<li type="square">Clinical Psychologist</li>
<li type="square">Social Worker</li>
<li type="square">Educational and Career Counselor</li>
<li type="square">Therapist</li>
<li type="square">Consultant</li>
<li type="square">Welfare Worker</li>
<li type="square">Child Counselor</li>
<h2 style="color:green;">Salary</h2>
<p>The average fees charged by Psychologists per session usually range between INR 1,500 - 5,000. Freshers in this field can expect a starting salary of INR 1.95 LPA - 2.80 LPA. While the highest salary can go to INR 22 LPA - 24 LPA. One of the most crucial factors determining the salary of a psychologist is skills.</p>






