<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a routerLink="/courseread">Courses</a></li>
				<i class="fas fa-caret-down"></i>
			
			
		 

			 






			 <li><a routerLink="/qr" >course information</a></li>
			 <!-- <li><a routerLink="/gallery">About</a></li> -->
			 <li><a routerLink="/contact">contact</a></li>
			 
            <li><a routerLink="/create">Feedback</a></li>
			<!-- <li><a routerLink="/profile" >Profile</a></li> -->
		
			<li><a routerLink="/mainlogin">Logout</a></li>
         </ul>
      </nav>
      <section>
         <!-- <img src="https://img.freepik.com/premium-photo/education-background-with-colorful-stationery_8087-1663.jpg"> -->
		<!-- <img src="https://media.istockphoto.com/id/910101224/vector/labor-day.jpg?s=612x612&w=0&k=20&c=GxfbBQo0fP_ka_qrMfh7rYktIJFTS4wTLmCpVSXbJ30=" width="1200" height="500" align="middle"> -->
	  </section>
   </body>
</html>
