
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
  
<h2 style="color:green; text-align:center">Diploma in Hotel Management</h2>
<img src="assets/dhotel1.png">
<h2 style="color:green">Hotel Management Course After Class 10th</h2>
<p> Hotel management entails duties at a hotel or resort. It includes marketing, catering management, hotel administration, accounting, and housekeeping courses.</p>
<p>As the tourism industry expands, more hotels and restaurants are being built around the world, thereby increasing the demand for competent hotel managers. Students who want to pursue a career in the hospitality industry after class 10 can enrol in hotel management courses. The hotel management industry is rapidly expanding as a result of globalisation. Every year, a large number of hospitality-related jobs are added to the economy. As a result, hotel management is becoming a rewarding field to pursue a career in.</p>
<img src="assets/dhotel2.png">
<h2 style="color:green">Hotel Management Course After Class 10th - Diploma In Hotel Management</h2>
<p>This diploma in hotel management after 10th is designed to provide students with the necessary professional knowledge, technical competence, and skills to pursue careers in the hospitality industry. Depending on the institute, it can also be a 1-year diploma in hotel management after 10th. The programme emphasises both theoretical knowledge and practical training and the primary goal is to provide students with a thorough understanding of the operational aspects of the global hospitality industry. The curriculum covers subjects like foundation courses in Accommodation Operations, Hotel Engineering, Strategic Management, Food and Beverage Management, etc.</p>
<h4 style="color:red">Duration</h4>
<p>The duration of the course varies from 1 year to 3 years depending on the college.</p>
<h4 style="color:red">Eligibility</h4>
<p> A student must have passed class 10th with 50% aggregate marks (with English) or equivalent.</p>
<h4 style="color:red">Career Options</h4>
<p>You can be employed as Hotel & Restaurant Executive, Catering Manager, Accommodation Operations Manager, etc.</p>
<h4 style="color:red">Salary</h4>
<p> The initial salary can range between Rs 16,000 - 18,000 per month. </p>
<h4 style="color:red">Institutes </h4>
<p>RIMT University - Punjab, JBIHM - Kolkata, Tantia University - Rajasthan</p>
<h2 style="color:green">Hotel Management Course After Class 10th - Diploma In Hotel Management & Catering Technology</h2>
<p>The Diploma in Hotel Management & Catering Technology is an entry-level programme designed to give students a basic understanding of the hospitality industry. The curriculum covers subjects like Basic Food Production, Basic System Operation, Food Production and Service Management, Rooms Division Management, etc.</p>
<h4 style="color:red">Duration</h4>
<p>The duration of the course is 3 years.</p>
<h4 style="color:red">Eligibility</h4>
<p> A student must have passed class 10th with 45% aggregate marks or equivalent.</p>
<h4 style="color:red">Career Options</h4>
<p>You can be employed in Hotels for Accommodation Operations, Front office Department as Account Executive, Restaurant and Food Service Manager, etc.</p>
<h4 style="color:red">Salary</h4>
<p>The initial salary can range between Rs 20,000 - 23,000 per month.</p>
<h4 style="color:red">Institutes </h4>
<p> ICE College of Hotel Management & Catering Technology - Pune, Mumbai, Vels University - Chennai, Parul University - Vadodara</p>
<h2 style="color:green">Hotel Management Course After Class 10th - Diploma In Hospitality Management</h2>
<p>This diploma in hotel management after 10th prepares graduates to meet the industry's ever-changing needs by focusing on the fundamental concepts of hospitality, travel management, and the rapidly changing trends in these fields. The topics covered in the programme are human resource management, marketing in hospitality and tourism, issues in the hospitality and tourism industry, etc.</p>
<h4 style="color:red">Duration</h4>
<p>The duration of the course is 3 years.</p>
<h4 style="color:red">Eligibility</h4>
<p>A student must have passed class 10th or equivalent.</p>
<h4 style="color:red">Career Options</h4>
<p>You can be employed as an Accommodation Manager, Hotel Manager, Public House manager, Event Manager, etc.</p>
<h4 style="color:red">Salary</h4>
<p>The initial salary can range between Rs 15,000 - 18,000 per month.</p>
<h4 style="color:red">Institutes </h4>
<p> Garden City University - Bengaluru</p>
<h2 style="color:green">Hotel Management Course After Class 10th - Diploma In Front Office Operations</h2>
<p>This is a 1-year diploma in hotel management after 10th .The front office, which includes the marketing, sales, and service departments, has direct contact with clients. The front office (also known as the front desk) in the hotel industry greets guests, takes and organises reservations, allocates check-in and out of rooms, organises porter service, issues keys and other security arrangements, and settles accounts. While primarily aimed at the hospitality industry, the course equips students with the knowledge, skills, and aptitude to work as a receptionist, front office clerk, or administrative assistant.</p>
<p>The curriculum covers subjects like the Basic Operation of the Front Office, Accommodation Operation, Business Communication, etc.</p>
<h4 style="color:red">Duration</h4>
<p>The duration of the course is 1 year.</p>
<h4 style="color:red">Eligibility</h4>
<p> A student must have passed class 10th with 45% aggregate marks or equivalent.</p>
<h4 style="color:red">Career Options</h4>
<p>You can be employed as a Receptionist, Front Office Clerk, Administrative Assistant, Lobby Manager, etc.</p>
<h4 style="color:red">Salary</h4>
<p>The initial salary can range between Rs 18,000 - 20,000 per month.</p>
<h4 style="color:red">Institutes </h4>
<p> ICE College of Hotel Management & Catering Technology - Pune, Mumbai, JBIHM - Kolkata</p>
<h2 style="color:green">Hotel Management Course After Class 10th - Diploma In Food & Beverage</h2>
<p>The Food and Beverage (F&B) division is the beating heart of the hospitality industry. The course is designed to provide students with fundamental food and beverage knowledge as well as skill sets. The F&B module's goal is to give students an understanding of the operational and supervisory aspects of running a food and beverage operation. Students will gain an understanding of food and beverage and its service in a variety of restaurant and establishment styles, as well as enough knowledge to create a broad plan for specific food and beverage operations.</p>
<h4 style="color:red">Duration</h4>
<p>The duration of the course can range from 6 months to 1 year.</p>
<h4 style="color:red">Eligibility</h4>
<p>A student must have passed class 10th or equivalent.</p>
<h4 style="color:red">Career Options</h4>
<p>You can be employed as an Executive Chef, Wine Server, Line Cook, Catering Manager, etc.</p>
<h4 style="color:red">Salary</h4>
<p>The initial salary can range between Rs 15,000 - 20,000 per month.</p>
<h4 style="color:red">Institutes </h4>
<p> ICE College of Hotel Management & Catering Technology - Pune, Mumbai, ISHM Kolkata.</p>
<h2 style="color:green"> Admission Process</h2>
<p>The admission process depends on the college to which the student has applied for admission. There is no entrance exam for admission to Hotel Management courses after 10th. Students just need to submit proof of qualifying class 10 exam. Students awaiting class 10 results can also apply for Hotel Management courses after 10th, they just need to submit the proof of result before the deadline set by the college.</p>
<h2 style="color:green"> Certificate Courses</h2>
<p>The duration of the certificate courses ranges from 6-12 months depending on colleges and institutes. Some of the certificate courses include:</p>
<li>Certificate in Beverage and Food Production</li>
<li>Craft course in Food Production</li>
<li>Certificate in Housekeeping</li>
<li>Certificate in Bakery & Confectionary</li>
<li>Certificate in Hotel Management and Catering Technology</li>
<p>India is a popular tourist destination worldwide, which has resulted in an increase in hotel and hospitality services. There are numerous opportunities available as the industry expands, providing an advantage for students who wish to pursue their careers at a young age. After completing diploma or certificate courses, a student is prepared to gain knowledge and skills, and effectively handle management and supervisory responsibilities in the hotel industry.</p>
<h2 style="color:green"> Hotel Management Courses After 10th: Scope</h2>
<li>Students can complete their high school and intermediate (class 11 and class 12) education and pursue Hotel Management Courses after 12th. </li>
<li>A bachelor’s or master’s degree in Hotel Management such as BHMCT or BSc in Hotel Management will offer students in-depth knowledge and they can learn managerial skills. </li>
<li>A degree or diploma in Hotel Management after 12th will also help in terms of better job prospects and salary. </li>
<li>Students can also pursue an MBA after completing a Hotel Management course to get managerial-level jobs.</li>



