


<html>
<style>
.jk{
width:800px;
height:900px;
margin:auto;
text-align:left;}
</style>
<body>
<div class="jk">
<h2>Home Science Courses</h2>
<p>Students aspiring to learn about food and nutrition, resources management, fabric and apparel sciences, human development and extension education can pursue Home Science Courses after 10th. It is a branch of science revolving around the study of general topics which arise on socio-economic level.</p>
<p>Certification and Diploma in Home Science Courses can be pursued just after completion of 10th. Admissions to these Courses are done on the basis of merit or on a first come first serve basis. However, admission to Bachelor's, Master's or PhD courses may be through entrance exams depending on the Institute.</p>
<p>Scope of Home Science Courses After 10th is immense. Candidates can pursue a career as Nutritionist, Dietitian, Human Resource Generalist, Assistant Human Resource Manager,etc. The average annual salary in this field ranges between INR 2,00,000 - 7,00,000 per annum.</p>
<h3>List of Home Science Courses After 10th</h3>
<p>Home Science Courses are available at different levels, viz Certificate, Diploma, Undergraduate, Postgraduate and Doctoral levels. Certificate in food and nutrition, Diploma in Child Health, Diploma in Home Science, Diploma in Human Resource Management etc can be pursued just after completion 10th.</p>
<p>BSc Home Science, BA Home Science, BSc Nutrition and Dietetics, Msc Home Science, MA Home Science and PhD Home Science are some of the Courses available at higher levels. Below is given a list of Courses available at different levels.</p>
<h3>Home Science Certificate Courses</h3>
<p>BSc Home Science, BA Home Science, BSc Nutrition and Dietetics, Msc Home Science, MA Home Science and PhD Home Science are some of the Courses available at higher levels. Below is given a list of Courses available at different levels.</p>
<img src="C:\Users\siris\OneDrive\Pictures\homee.html.png" width=700 height=500>
<h3>Diploma in Home Science After 10th</h3>
<p>Most of the Diploma Courses are applicable after 12th, so completion of 12th is recommended. However, after completion of 10th, students can apply for Diploma in Home Science Courses. The following is a list of Diploma Courses in Home Science.</p>
<img src="C:\Users\siris\OneDrive\Pictures\diphome.png" width=700 height=500>
<h3>Bachelors in Home Science</h3>
<ul>
<li>Home Science Courses are available as Specializations in undergraduate courses as BSc Home Science and BA Home Science, BSc Nutrition and Dietetics.</li>
<li>In order to pursue this course, the candidate must have completed his 12th with minimum 50% marks. Some Institutes require Physics, Chemistry and Biology at 12th.</li>
<li>Admissions to these Courses are done on the basis of merit or entrance exams.</li>
<li>The duration of the course is 3 years.</li>
</ul>
<p>The following table is a list of Colleges offering Home Science Bachelor's degree courses.</p>
<img src="C:\Users\siris\OneDrive\Pictures\aba.png" width=700 height=500>
<h3>How to Apply for Home Science Courses?</h3>
<p>Admissions to home Science Courses are done on merit as well as entrance basis depending on the institute one is seeking admission. After completion of 10th from a recognised board, one can undertake a course. The following is the admission process at various levels.</p>
<h3>Home Science Courses After 10th: Admission</h3>
<ul>
<li>The eligibility criteria of the course depends on various factors.</li>
<li>Admissions to Certificate and Diploma Courses are done on merit basis. Students can visit the Institute's website and apply.</li>
<li>After filling up the required details, submit the application form with provision of application fee.</li>
<li>Wait for further notifications from the Institute, if selected you can be admitted accordingly.</li>
<li>Admissions for Bachelor's and Master's may be through merit or entrance based.</li>
<li>After application of the form, candidates need to pass the entrance exams to get admission, wait for the Institute to release minimum qualifying marks.</li>
<li>Only after securing more than the qualifying marks, can a candidate get admission.</li>
</ul>
<h3>Home Science Courses After 10th: Entrance Exams</h3>
<p>BHU PET, TANCET, MGU CAT, AMU Entrance Exams, etc are popular exams conducted at national levels.

Here is a list of important dates relating to these exams.

</p>
<img src="C:\Users\siris\OneDrive\Pictures\ssr.png" width=400 height=200>
<h3>Home Science Subjects After 10</h3>
<p>Home Science covers a vast area of study in arts, science, humanities and vocational subjects. The table below contains the list of subjects covered by this field.</p>
<img src="C:\Users\siris\OneDrive\Pictures\kkr.png" width=700 height=500>
<h3>Top Home Science Colleges</h3>
<p>A number of top Colleges offer Home Science Courses. The following is a list of Top Colleges in India offering this Course.</p>
<img src="C:\Users\siris\OneDrive\Pictures\nvr.png" width=700 height=400>
</div>
</body>
</html>

