<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
    

<h2 style="text-align: center;">Diploma in Information Science</h2>
<img src="assets/dinfo1.png">
<p>Diploma in Information Science Engineering is Diploma level Computer Engineering course. Information Science and Engineering program focuses on the design of technological information systems including computing systems, as solutions to business, research data and communication support needs. It includes instruction in the principles of computer hardware and software. India's human resources in this field are in endless demand especially when professionals are not only qualified but meet quality criteria in this sophisticated sphere. This predictive science can model natural processes, apart from industrial processes.</p>
<img src="assets/dinfo2.png">
<h2>Diploma in Information Science Engineering Eligibility</h2>
<li>A pass in 10th or its equivalent, with minimum 60% or equivalent CGPA.</li>
<li>Some of the very reputed universities and institutes conduct entrance examination for admission.</li>
<h2>Diploma in Information Science Engineering Course Suitability</h2>
<li>Course is suitable for those who want to develop the skills like analytical, mathematical, managerial, communication, and creative problem solving and the technical competency. 
</li>
<li>They should have skills like managing the storage, organization, access, retrieval, dissemination, preservation and use of information. </li>
<li>They should understand and interpret the contexts in which information is originated, stored, organized, retrieved, disseminated and used. </li>
<li>They should have envisioned future directions and negotiate alliances for library and information sector development aligned with corporate, social and cultural goals and values.</li>
<h2>How is Diploma in Information Science Engineering Course Beneficial?</h2>
<li>The course is to guide the students to become responsible professionals through ethical practices with an emphasis on societal concern. </li>
<li>The course is beneficial to prepare the students to accept technological challenges with confidence to design innovative solutions resulting in research and development. </li>
<li>It creates an environment for innovation in inclusive and green technology, through workshops and interaction with outside world.</li>
<h2>Diploma in Information Science Engineering Employment Areas</h2>
<li>Colleges & Universities</li>
<li>IT Companies</li>
<li>Communication Companies</li>
<li>Websites & Programming</li>
<li>Life Sciences Content (non-technical)</li>
<li>Government Hospitals</li>
<li>Medical Research Labs</li>
<h2>Diploma in Information Science Engineering Job Types</h2>
<li>Information Solution Provider</li>
<li>Information Network Manager</li>
<li>Information System Developer</li>
<li>Information Content Designer</li>
<li>Information & Multimedia Designer</li>
<li>Information Technology Web Designer</li>
<li>Professor</li>
<li>Information Database Provider</li>
<li>Medical Information Scientist</li>
<li>Information Developer/Technical Writer </li>
