<div class="d-block mx-auto w-50">
  <label for="username">username</label>
  <input type="text" name="username" id="username" class="form-control" [(ngModel)]="username">
  <div class="d-flex my-2">
      <input type="submit" value="Get all" class="btn btn-primary" (click)="Read('All')">
      <input type="submit" [value]="'Get '+ username" class="btn btn-primary mx-1" (click)="Read(username)">
  </div>
  <p *ngIf="!(Results.length!=0 && GotResult)" class="text-danger">No Result to Show</p>
</div>
<table class="table w-50  mx-auto" *ngIf="Results.length!=0 && GotResult">
  <thead class="thead-dark">
      <tr>
          <th scope="col">username</th>
          <th scope="col">suggestions</th>
          <th scope="col">quires</th>
          <th scope="col"> experience</th>
          <th scope="col">rating</th>
      
          <th scope="col">Delete</th>
          <!-- <th scope="col">Update</th> -->
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let Data of Results">
          <th scope="row">{{Data[0]}}</th>
          <td>{{Data[1]}}</td>
          <td>{{Data[2]}}</td>
          <td>{{Data[3]}}</td>
          <td>{{Data[4]}}</td>
          <td><input type="button" role="button" class="btn btn-danger" value="delete" (click)="Delete(Data[0])">
          </td>
          <!-- <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="username = Data[0]">
                  Update
              </button>
          </td> -->
      </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Updated Values</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
  
        <input type="text" name="useername" id="username" placeholder="username" class="form-control my-1" [(ngModel)]="UpdatedUser.username">
        <input type="text" name="suggestion" id="Name" placeholder="suggestion" class="form-control my-1" [(ngModel)]="UpdatedUser.suggestion">
        <input type="text" name="quires" id="Name" placeholder="quires" class="form-control my-1" [(ngModel)]="UpdatedUser.quires">
        <input type="text" name="experience" id="Name" placeholder="experience" class="form-control my-1" [(ngModel)]="UpdatedUser.experience">
        <input type="text" name="rating" id="Name" placeholder="rating" class="form-control my-1" [(ngModel)]="UpdatedUser.rating">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="Update(username,UpdatedUser)">Save changes</button>
      </div>
    </div>
  </div>
</div>
