<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      


<h2 style="text-align:center">Diploma in Automobile Engineering</h2>
<img src="assets/automobile.png">
<p>Diploma in Automobile Engineering is a full-time certificate program of duration 3 years. It is a diploma level Automobile engineering course which is the sub-branch of Mechanical Engineering.</p>
<p>Candidates for the Diploma in Automobile Engineering course must have completed class 10th with a minimum of 60% marks and mathematics and science as key subjects of study from a recognised board.</p>
<p>Admission to the Diploma in Automobile Engineering programme is granted on the basis of merit or an entrance test. The majority of colleges pick students by counselling based on their 10+2 test results. However, some of the reputed colleges conduct entrance exams for the admission process.</p>
<p>The subjects of the course include mechanical engineering, software engineering, safety engineering as applied to the design, electronic engineering, manufacture and operation of automobiles, and their respective subsystems.</p>
<p>The candidates can secure jobs as Automobile Engineer, Product Engineer, Design Engineer and so on.</p>
<h2>Diploma in Automobile Engineering: Course Highlights</h2>
<img src="">
<h2>Diploma in Automobile Engineering: What is it About?</h2>
<li>Automobile engineering is a branch of engineering that combines elements of mechanical, electrical, electronic, software, and safety engineering in the design, manufacture, and service of automobiles, buses, and trucks, as well as their subsystems.</li>
<li>The course equips the students for a deeper understanding of the automobiles, designing, manufacturing, customer relationships, market analysis, also taking a comprehensive view of sales and management. </li>
<li>Diploma in Automobile Engineering involves training in areas such as- automobile design, vehicle engineering, electrical and electronic systems used in vehicles, braking, material science, engines, fuels and lubricants etc. </li>
<h2>Why Study Diploma in Automobile Engineering?</h2>
<li>Automobile engineering is an important career path. In every corner of the globe, there are millions of cars on highways, and car engineers are the people responsible for that.</li>
<li>A career as an automobile engineer is for automobile enthusiasts. They must have a considerable understanding and interest in mechanics, electronics, and mathematics. Automotive engineers must be organized people capable of operating in a methodical manner.</li>
<li>Automobile engineers receive a large salary as compared to any other type of engineers. When they begin gaining experience, they have a decent amount of job protection.</li>
<li>The growth in automobile engineering is very strong, and the addition of more features to this area is at its height.</li>
<li>India is on the brink of expansion in this sector and is considered to be one of the leading manufacturers of two and three wheelers in growth and production.</li>
<h2>Diploma in Automobile Engineering: Admission Process</h2>
<p>Aspiring candidates interested in studying Diploma in Automobile Engineering must apply at the respective institute by filling the application form and completing the admission process for admission. </p>
<li>Admission to the Diploma course in Automobile Engineering is either merit-based or entrance-based.</li>
<li>Most of the institutes in India accept admission in Diploma in Automobile Engineering on merit basis followed by counselling.</li>
<li>However, some of the renowned institutes may conduct their own entrance examination for admissions.</li>
<li>The major entrance exams considered for the admission include JET, GVSAT, GLAET, etc.</li>
<li>Candidates can apply for this course via the college's official website or receive an application form directly from the college admission office.</li>
<h2>Diploma in Automobile Engineering: Eligibility Criteria</h2>
<h3>The basic eligibility criteria to apply for Diploma in Automobile Engineering is given below:</h3>
<li>Applicants must have passed Class 10th examination from a recognized board.</li>
<li>Candidates must have studied Science and English in qualifying examination with Mathematics as one of the subjects.</li>
<li>Minimum percentage required for admission is 60% in Class 10th board.</li>
<h2>Diploma in Automobile Engineering: How to Prepare for Entrance Exams?</h2>
<h3>The suggestions mentioned below must be followed by students preparing for admission through entrance examination:</h3>
<li>It is important to look after your wellbeing. Consume less oily foods and more antioxidant-rich foods. Stay hydrated on a daily basis.</li>
<li>Make a schedule on how you want to divide your time between school and engineering exams. This will give you a better picture of what to research and when. It's also a good idea to figure out how many hours or days you'll devote to each subject, based on its difficulty level and your own strengths and weaknesses.</li>
<li>It is recommended that you only read the books that are needed for the entrance exams.</li>
<li>There are many formulas, equations, and terminologies in physics, chemistry, and mathematics. The easiest way to remember them is to learn them on a regular basis.</li>
<li>Solve the sample papers provided by your coaching institutes or refer to previous year’s entrance exam question papers. </li>
<li>Rather than memorising terms, study to understand them. When you understand concepts clearly, you can easily answer any query, and the information stays with you forever.</li>
<h2>Diploma in Automobile Engineering: How to Get Admissions in a Good College?</h2>
<p>Securing admission in a college is not a tough job but admitting oneself to a top college with multiple entrance tests and selection processes, is really difficult, Here’s a guide to admission in a good college:</p>
<li>Students must concentrate on high school academics in order to achieve good grades.</li>
<li>To improve your skills and your chances of getting into a good college, take as many extracurricular subjects as you can.</li>
<li>Develop your attitude and body language by working on your personality.</li>
<li>Keep track of all deadlines and dates. Exam submission deadlines, exam times, and other information is updated and published in all major newspapers. It is important to keep track of all such developments.</li>
<li>Personal interviews will put your talents to the test, regardless of your grades.</li>
<h2>Diploma in Automobile Engineering: Top Colleges</h2>
<h4>Some of the top colleges that offer Diploma in Automobile Engineering are as follows:</h4>
<img src="assets/automobile2.png">
<h2>Diploma in Automobile Engineering: Course Comparison</h2>
<h4>The course comparison between Diploma in Automobile Engineering and B.Tech Automobile Engineering is as follows:</h4>
<img src="assets/automobile3.png">
<img src="assets/automobile7.png">
<img src="assets/automobile8.png">
<img src="assets/automobile4.png">
<h2>Diploma in Automobile Engineering: Job Profiles</h2>
<p>The world without vehicles is impossible and due to growth in the automobile sector, job opportunities are also growing. In terms of manufacturing, service stations, transport firms, security facilities, there are a number of opportunities. Automobile engineers are responsible for designing and manufacturing motorcycles, trucks, etc.</p>
<h5>Some of the well-known job profiles available in automobile engineering are mentioned in the table below:</h5>
<img src="assets/automobile5.png">
<img src="assets/automobile6.png">
<h2>Diploma in Automobile Engineering: Future Scope</h2>
<p>One may study for a Bachelor's Degree (B.E./B.Tech.) in Automobile Engineering after completing the Diploma in Automobile engineering. A number of seats are reserved for holders of Diploma certificates in most Degree Engineering colleges. </p>
<li>Diploma holders with good grades may make use of lateral entry and join B.E./B.Tech. Automobile Engineering program’s 2nd academic year (directly). 
</li>
<li>After that, one may either go for an M.E./M.Tech. program or Ph.D. to further enhance their knowledge. Candidates can also opt for lectureship or for the post of professor in engineering colleges/universities. However, 
</li>
<li>If you are interested in management programs, you may go for an MBA program!</li>


