<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					  
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>

<h2 style="color:green; text-align:center">Fine Arts Courses </h2>
<img src="assets/dfine1.png">
<p> You can harness your passion for art and turn it into your career by taking courses after 10th in fine arts. The term "fine arts" refers to the process of transforming your thoughts into a tangible or intangible artistic form, such as music, film making, painting, or script writing.
</p>
<p>Due to the rise of social media,the need for people who can form a connection with the audience has increased. The number of users of these platforms has significantly increased, thereby creating more employment opportunities for fine arts’ professionals. Due to the huge support that artists have begun to get, fine arts courses after 10th have attracted increasing attention in recent years. Continue reading to know about the list of fine arts courses.
</p>
<h2 style="color:green;">List of Fine Arts Courses:</h2>
<img src="assets/dfine2.png">
<h2 style="color:green;">Fine Arts Courses After 10th: Certificate In Visual Arts</h2>
<p>Art that works with the visual aspects of nature, such as pottery, sketching, murals, sculpture, engraving, modeling, crafts, videography, multimedia, filmmaking, and architecture, is referred to as visual art. Students' aesthetic sensibilities are stimulated by the course, which also supports their development of artistic creativity. This is a short-term course that will help you turn your passion into a career.
</p>
<h4 style="color:red;">Eligibility</h4>
<p>Students must have passed class 10</p>
<h4 style="color:red;">Duration</h4>
<p>6 months</p>
<h4 style="color:red;">Institutes</h4>
<p>IGNOU- Delhi</p>
<h2 style="color:green;"> Fine Arts Courses After 10th: Certificate In Painting</h2>
<p>The goal of such courses after 10th in fine arts is to help students communicate their visual ideas on a canvas. One will practice different drawing exercises designed to sharpen their ability to capture the patterns of nature on paper as one strengthens their drawing abilities. Later on in the course, textures and hues will be introduced to help you develop as an artist and better convey the visions you have in mind. Students will have a wide range of professional opportunities in the arts and related fields after completing this degree.</p>
<h4 style="color:red;">Eligibility</h4>
<p>Students must have passed class 10.</p>
<h4 style="color:red;">Duration</h4>
<p>6 months</p>
<h4 style="color:red;">Institutes</h4>
<p>Institute of Fine Arts- Chandigarh, National Institute of Fine Arts- Delhi</p>
<h2 style="color:green;"> Fine Arts Courses After 10th: Diploma In Dance</h2>
<p>Diploma in Dance focuses on five main topics: dance technique, contextual study, dance practice, process approach, and choreography. This diploma in fine arts often lasts between six months to one year. This kind of program serves the primary goal of assisting students or upcoming artists in showcasing their artistic skills to the globe. Such courses after 10th in fine arts provide students with job prospects in a range of recreational industries.</p>
<h4 style="color:red;">Eligibility</h4>
<p>Students must have passed class 10</p>
<h4 style="color:red;">Duration</h4>
<p>6 months to 1 year</p>
<h4 style="color:red;">Institutes</h4>
<p>Suneet Nagdev Dance Arts- Mumbai, Delhi Dance Academy- Delhi</p>
<h2 style="color:green;"> Fine Arts Courses After 10th: Diploma In Music</h2>
<p>This diploma in fine arts is designed for people who want a step-by-step approach and want to start their careers in musiccomposition from scratch. The goal of this program is to understand the science as well as the creative aspects of combining and producing songs so they are ready for release. This course covers Bollywood music production, music synthesis for videos, and sound design for film and television. To help you learn about the music industry and how to develop as an artist or producer, this course also covers the music industry and social media marketing.
</p>
<h4 style="color:red;">Eligibility</h4>
<p>Students must have passed class 10.</p>
<h4 style="color:red;">Duration</h4>
<p>6 months to 1 year</p>
<h4 style="color:red;">Institutes</h4>
<p>AAFT School of Music- Delhi, Lost Stories Academy- Mumbai</p>
<h2 style="color:green;"> Fine Arts Courses After 10th: Diploma In Photography</h2>
<p>Careers in photography have flourished with the increasing popularity of social media and advertising. You may work as a photojournalist, fashion photographer, travel photographer, or industrial photographer, after this course. Photographers can work in the publishing industry for magazines, newspapers, and the press. A photographer may even open a studio or engage in freelance work.</p>
<h4 style="color:red;">Eligibility</h4>
<p> Students must have passed class 10.</p>
<h4 style="color:red;">Duration</h4>
<p>1 to 2 years</p>
<h4 style="color:red;">Institutes</h4>
<p>Le Mark School of Art- Mumbai, AAFT- Delhi, Morph Academy- Chandigarh</p>


<br>
<p>Possibilities in the fine arts courses after 10th are growing quickly nowadays across different sectors. Indian youngsters are currently drawn to this sector in order to increase their earnings, popularity, and reputation. After completing these courses, students have the choice of finding employment as teachers, artists, photographers, applied artists, sculptors, and so on. In addition, you can work as a freelancer, director, painter, actor, dancer, or fashion designer.</p>
<p>There are several good opportunites, including academia, design, and the film business. You can work for journals, ad agencies, and magazine creative departments if you work in the publishing or textile industries. By displaying your art in exhibitions, commercial galleries, or your own private collection, you might earn money for it. Your pieces of art will be offered for sale at craft fairs, boutiques, fundraisers, and workshops. The sector of fine arts has a great deal of potential, both in terms of money and the repute it brings.</p>






