<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>
<h2 style="color:green; ">Diploma in Civil Engineering</h2>
<img src="assets/dcivil.png">
<p>Diploma in Civil Engineering is a 3 year course for students after completion of Class 10 that teaches students to plan, design, execute and maintain structural works like bridges, buildings, roads and other infrastructural projects.</p>
<p>Diploma in Civil Engineering eligibility is students have to qualify 10th class with a minimum of 50% marks from a recognized institute.</p><br>
<p>Diploma in Civil Engineering admission process is to clear entrance exams taken by colleges to enroll students. The entrance exams are Delhi CET, AP JEE, Punjab PET, Odisha DET etc.</p>
<p>Students can get admission in the second year of BTech course through Lateral entry. For further studies, MTech and MBA are the best option but students need a bachelor degree course in relevant filed to study these courses. </p>
<p>The average fee for the course diploma in civil engineering is INR 10,000-5,00,000. Fees structures are made by colleges and universities on the basis of courses offered by them.</p>
<p>The average annual salary for freshers is INR 3-20 LPA. Skills and experience are two important factors for a good salary package.</p>
<h2 style="color:green; ">Diploma in Civil Engineering Course Highlights</h2>
<img src="assets/dcivil1.png">
<h2 style="color:green;">What is a Diploma in Civil Engineering?</h2>
<p>A diploma (civil engineering) or diploma in civil engineering is a 3-year course as a diploma type.</p>
<li>This course is about designing the process, maintenance and construction of roads, dams, bridges, buildings, etc.</li>
<li>Students will learn about construction management with theory and practical knowledge.</li>
<li>The common specialization includes structural engineering, geotechnical engineering, transportation engineering, environmental engineering, etc.</li>
<li>This field is one of the oldest branches of engineering. It is responsible for construction, design.</li>
<li>The design and construction of a naturally built environment include waterworks, river navigation, traffic control, transmission lines, power plants, canals, bridges, railroads, etc.</li>
<li>They will learn team spirit and work with the group to achieve a common objective.</li>
<h2 style="color:green;">Why Study Diploma in Civil Engineering?</h2>
<p>Benefits of the course: The benefits of the course diploma in civil engineering are:<p>
<li>You will have a good annual salary package.</li>
<li>You can apply for government jobs in companies like DRDO, ONGC, Indian Railways, Water Boards, etc.</li>
<li>Candidates will get other benefits like PF, insurance, tours, etc.</li>
<h3 style="color:green;">Skills required to be a part of the course: The skills which are required to be a part of the course diploma in civil engineering:</h3>
<li>Leadership skills</li>
<li>Problem-solving skills</li>
<li>Organizational skills</li>
<li>Technical skills</li>
<li>Creativity skills</li>
<h2 style="color:green;">Eligibility</h2>
<li>The eligibility criterion for the course is students have to clear 10th class or equivalent with a minimum of 50% marks from a recognized college or institute.</li>
<li>5% moderation for the reserved category students.</li>
<li>PCM stream should be the compulsory stream.</li>
<h2 style="color:green;">Tips For Entrance exams</h2>
<p>Here are some tips for an entrance exam to get admission in a good college or university.</p>
<li>You should read the newspapers daily. You can refer to The Hindu, The Times Of India, Economic Times, etc.</li>
<li>Students should identify their interested area subjects at the earliest time.</li>
<li>Learn time management as you have to manage your classes with self-study.</li>
<li>You should practice questions as much as you can. Practice helps you to identify the time taken by each question.</li>
<li>You should have trained your mind for the covering of the syllabus.</li>
<li>Prepare strategies for learning and understanding the concepts.</li>
<li>Use fewer books for theory and more books for practice questions.</li>
<li>A most important tip is to practice previous question papers.</li>
<li>You should find the best institute for the preparation for the exam.</li>
<h2 style="color:green; text-align:center;">Difference Between Diploma in Civil Engineering and Civil Engineering Degree</h2>
<p>Many candidates often get confused between what to study, diploma programme, or degree. Both of them are Civil Engineering courses with different duration, subjects, and eligibility criteria. To get a clear idea, we have provided the differential details between Diploma in Civil Engineering and Civil Engineering Degree below.</p>
<img src="assets/dcivil2.png">
<h2 style="color:green;">Diploma in Civil Engineering Colleges Abroad</h2>
<p>Civil engineering degrees is available at a wide range of institutions across the world, including big multidisciplinary universities, specialized engineering schools, and technical colleges and universities. Candidates can check out some of the best Diploma in Civil Engineering colleges abroad.</p>
<img src="assets/dcivil3.png">
<h2 style="color:green;">Required Skill Set for Diploma in Civil Engineering</h2>
<p>Civil engineering is a tough and complex branch of engineering. Candidates should pertain various skillsets to become outstanding civil engineers and cope with their day-to-day responsibilities. The following are the skillset for Diploma in CE</p>
<li>Creativity and flexibility</li>
<li>Technical Skills</li>
<li>Project Management</li>
<li>Critical Thinking</li>
<li>Communication Skills</li>
<li>Problem Solving</li>
<li>Leadership skills</li>
<h2 style="color:green;">Diploma in Civil Engineering Scope in India</h2>
<p>The scope of this diploma programme is vast and candidates can get jobs in the government and private sector very easily. In India, engineering is one of the most wanted careers by millions of students. Civil Engineers themselves have lots of job options available in India. </p>
<li>Civil engineering job seekers might find work in a variety of government sectors. Diploma holders may typically find work as technicians, clerks,  lab assistants, and even higher-level roles such as supervisors.</li>
<li>Following your graduation in civil engineering, you can apply for government jobs by taking examinations such as SSC, PWD, RRB, and so on.</li>
<li>You will be able to pick between field and back-office work in the private sector. This implies that one alternative is to work in client service or design.</li>
<li>Diploma holders can find work in a variety of industries, including design firms, consultants, and developers. </li>
<li>In addition, you might begin working with a civil contractor.</li>
<li>You can also become an entrepreneur if you want to be independent and have a self-start business. </li>
<h2 style="color:green;">Diploma in Civil Engineering Salary</h2>
<p>The diploma in civil engineering salary will be around Rs. 3,00,000 LPA to Rs. 20,00,000 LPA on average. The diploma in civil engineering salary in India depends upon the kind of organization and job profile, experience, and skills the candidate has. Moreover, as you will gain experience in Civil Engineering and acquire all the required soft and technical skills the salary will hike upto. </p><br>
<p>They can work as a civil engineer, civil engineering drafter, civil engineering technologist, senior civil engineer, site engineer, construction engineer, geotechnical engineer, structural engineer, assistant engineer, executive engineer, environment engineer, urban planning engineer, etc.</p>
<img src="assets/dcivil4.png">
<h2 style="color:green; text-align:center;">Average Salary after Diploma in Civil Engineering</h2>
<img src="assets/dcivil5.png">
<h2 style="color:green;">Diploma in Civil Engineering: Future Scope</h2>
<li>Students can pursue higher studies after a diploma in civil engineering is an Advance diploma in civil engineering, an advance diploma in surveying, an advance diploma in structural design, an advance diploma in constructing management, a certificate course in building design, a certificate course in construction management, etc.</li>
<li>They have employment sectors like IT or software companies, schools, universities, government firms, content development, engineering firms, etc.</li>
<h2 style="color:green;">Career Options After Diploma in Civil Engineering</h2>
<p>Candidates who have completed their diploma programme get confused about what to do next. Worry not, there are several options after a Diploma in CE in terms of education and jobs. Go through the details given below. </p>
<h2 style="color:green;">Opt for Higher Education</h2>
<p>Candidates should opt to study further and get a degree in bachelor's and masters. Because most of the company's minimum requirement is a degree in civil engineering. So, you must opt to study further if you want to get a better salary.</p>
<h2 style="color:green;">Secure a Government Job</h2>
<p>If you want to work in the government sector after completing your diploma programme then, you need to sit for the various government exams like SSC, RRB, PWD, etc. A government job provides you with career stability, job security, a higher pay band, social respect, and a variety of other benefits. </p>
<h2 style="color:green;">Secure a Private Job</h2>
<p>There are several jobs available in private sector companies also. You build up a strong resume and apply for private jobs. The private sector companies often give advertisements in newspapers, magazines nowadays online on various pages and apps. You can apply to sit for the interview and secure a private job diploma in civil engineering after 10th class. </p>
<h2 style="color:green;">Short Courses for Diploma in Civil Engineering</h2>
<p>You can also take up various short polytechnic courses available. The duration of these short courses is not too much but between 6 to 12 months. Adding to that, many of the institutes also offer placement aid after completion of these courses. </p>
<li>3d Home Architect</li>
<li>On-site Safety</li>
<li>Quality surveying</li>
<li>Autocad</li>
<li>SCADA</li>
<li>Design of Lightweight structures</li>
<li>SAP</li>
<li>Fatigue of structures</li>
<li>Linear Modelling</li>
<li>FEM</li>
<li>Water & Waste management</li>


