<p>aero works!</p>
<h2 style="color:blue; text-align:center;">Diploma in Aeronautical Engineering</h2>
<p> Aeronautical engineers meticulously design and construct aeroplanes and helicopters that are used for commercial aviation as well as for defence and disaster management purposes. Students looking to explore the lucrative field of Aeronautical Engineering can discover their interests through varied diploma courses and certificate programs available in this specialisation. If you are planning to pursue a Diploma in Aeronautical Engineering, read through this blog to know about the top colleges to explore, eligibility criteria as well as career scope it entails.</p>
<img src="assets/aero.png">
<h2 style="color:blue; ">AERONAUTICAL ENGINEERING : BASIC DETAILS</h2>
<p>Aeronautical Engineering is a discipline that deals with aeronautics. Aeronautics includes study, design, development and testing of air flight capable machines.</p>
<p>The Diploma course can be said to be multidisciplinary. It contains elements of mechanical, electrical and electronics engineering.</p><p>Diploma in Aeronautical Engineering program covers topics such as- aircraft navigation systems, electrical and electronics systems, control systems, radar, radio, aircraft design, aerodynamics, physics, aircraft service and maintenance.</p>
<h2 style="color:blue;">DIPLOMA IN AERONAUTICAL ENGINEERING: COURSE DETAILS</h2>

<p>Diploma in Aeronautical Engineering is a 3 years long program. It follows the semester system of learning. Each academic year is divided into two semesters, with each semester lasting for a period of 6 months.</p>
<br>
<p>Few institutes are also offering Integrated program- Diploma + B.Tech. Degree in Aeronautical Engineering.</p>
<li>Diploma in Aeronautical Engineering course trains students in areas such as- structural design, manufacturing, maintenance, aerodynamics, navigation systems, control systems etc of air flight capable machines such as aircraft, space shuttles, missiles, rockets and satellites.</li>
<h2 style="color:blue;">ELIGIBILITY CRITERIA</h2>
<li>Students who have passed 10th standard are eligible to pursue this course. This course can also be pursued after 10+2 schooling too (Mathematics group)!</li>
<li>If you are planning to study a Diploma in Aeronautical Engineering in India, many universities might conduct their own entrance exams for admission.</li>
<li>For those aspiring to study this course abroad, you will be required to provide language proficiency scores of IELTS/TOEFL, etc. along with a Statement of Purpose (SOP) and optional Letters of Recommendation (LORs).</li>
<h2 style="color:blue; ">ADMISSION PROCESS AND COLLEGES</h2>
<p>Many polytechnic, technical education and engineering institutes across India are offering this program. Most institutes usually have the ‘direct admission’ process. Interested students have to approach the institute and fill up the admission form. Seats will be allotted to deserving students on the basis of marks scored by them in 10th board examination (usually in Mathematics and Science subjects).</p>
<img src="assets/aero1.png">
<h2 style="color:blue;" >HIGHER STUDIES AND PG COURSES</h2>
<p>After completing Diploma Aeronautical Engineering program, one may go for Bachelor’s Degree (B.E./B.Tech.) in Aeronautical Engineering! In most Degree Engineering colleges, certain percentages of seats are reserved for Diploma certificate holders. This entry is known as the lateral entry. Diploma holders with good grade may make use of lateral entry and join B.E./B.Tech. Aeronautical Engineering program’s 2nd academic year (directly). This way, Diploma holders may make the ‘DtoD’ switch and earn a Bachelor of Engineering/Technology Degree!</p>
<br>
<p>After that, one may go for Master’s education or PG Diploma programs (relevant). M.E./M.Tech. or PG Diploma programs will enable one to specialize in disciplines within the Aeronautical sector. Some such specializations are-</p>
<li type="square">Aero-Mechanical Stream</li>
<li type="square">Avionics Stream</li>
<li type="square">Maintenance and Production (Electrical Systems)</li>
<li type="square">Maintenance and Production (Electronics Systems)</li>
<li type="square">Maintenance and Production (Navigation Systems)</li>

<br>
<p>AME (Aircraft Maintenance Engineering) is a good training course that Diploma in Aeronautical Engineering holders may study. It is a 3 years long training program. On completion of the course, one will get Aircraft Maintenance Engineer Certificate from the DGCA!</p>
<li type="square">After Master’s education, one may go for further advanced course, such as PhD. If you are interested in management program, you may go for MBA program!</li>
<h2 style="color:blue; ">DIPLOMA IN AERONAUTICAL ENGINEERING SCOPE & JOBS</h2>

<p >Aeronautical Engineers are trained to deal with design, manufacturing, maintenance and testing of aircraft, its parts and components. Aviation sector needs qualified aeronautical engineers to take care of the above mentioned tasks. Government and Private Airlines, Aviation organizations, Flying Clubs and Flying Schools are well known recruiters.</p>
<br>
<p>Diploma holders may also work at aircraft maintenance firms, units manufacturing aircraft parts and components etc. One may also work as a tutor or instructor at technical training institutes. After pursuing advanced technical courses, one may also become a research professional.</p>
<h3 style="color:blue; ">Here are the major job prospects for those with a degree or diploma in Aeronautical Engineering:</h3>
<li type="square">Design Engineer</li>
<li type="square">Logistics Engineer</li>
<li type="square">Manufacturing Engineer</li>
<li type="square">Thermal Design Engineer</li>
<li type="square">Quality Manager</li>
<li type="square">Aerospace Designer</li>
<li type="square">Airframe Design Engineer</li>
<li type="square">Reliability Engineer</li>
<h3 style="color:blue;">Following the completion of the diploma in Aeronautical Engineering, there are several opportunities for placement in the industry, some of which are given below:</h3>
<li type="square">Indian Space Research Organization (ISRO)</li>
<li type="square">Defense Research and Development Organization (DRDO)</li>
<li type="square">Hindustan Aeronautics Limited (HAL)</li>
<li type="square">National Aerospace Laboratories (NAL)</li>
<li type="square">Aircraft/ spacecraft Manufacturing Companies</li>
<li type="square">Aircraft/ spacecraft Part Manufacturing Companies</li>
<li type="square">Airlines</li>
<li type="square">Civil Aviation Department</li>
<li type="square">Maintenance Repair and Overhaul (MRO) organizations.</li>

<h2 style="color:blue;">Average Salary</h2>
<p>Being fresher, your starting salary would depend on variable factors like skills, knowledge of the domain, marks secured, performance in the interview, etc. On average, the salary of freshers would be around INR 25,000- 45,000 a month or a standing package of INR 4 Lakhs to 5 Lakhs per annum. Because the aviation business in India is expanding, the salary will rise as you gain expertise. It is an excellent time to start a career in the aviation industry.</p>
<li type="square">In case of Government job, salary will be based on the Pay Band and scale.</li>




