
  <body>
    <div class="wrapper">
      <input type="radio" name="select" id="option-1" checked>
      <input type="radio" name="select" id="option-2">
      <label for="option-1" class="option option-1">
        <div class="dot"></div>
       <a routerLink="/courses" style="text-decoration: none;"> <span>INSERT</span></a>
      </label>
      <label for="option-2" class="option option-2">
        <div class="dot"></div>
        <a routerLink="/admincourseread" style="text-decoration: none;"> <span>GET</span></a>
      </label>
    </div>
  </body>
