<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
    
<h2 style="color:green;">DIPLOMA IN MASS COMMUNICATION AND JOURNALISM</h2>
<img src="assets/djour.png">
<p>There are number of mass communication courses that candidates can purse straight after class 10th.</p>

<p>Diploma in Mass communication and Journalism is a 1- year program spread across two semesters that offers extensive knowledge in the field of Mass Communication and Journalism immediately after completion of your 10th grade. The Course includes from media writing, new media and mobile communication, print media, advertising, design and graphics to photography, research, writing, management and more.</p><br>
<p>The diploma course in Mass communication and Journalism provides students with the basic foundation in complete detail so they can grow their knowledge and build a portfolio that is unmatched in the industry. Students gain exposure in the field of Mass communication and Journalism through knowledge sharing sessions by experts from the field and practical experience through our well-structured courses.</p><br>
<p>The diploma program in Mass communication and Journalism is curated to impart the best knowledge using both theoretical and practical modules, it focuses on making students understand the professional aspects of the industry. The course is a full length course that will make students gain expertise in the field through expert guidance and practical exposure from the very best.</p><br>
<h2 style="color:green;">List of Mass Communications after Class 10th</h2>
<img src="assets/djour1.png">
<img src="assets/djour2.png">
<h2 style="color:green;">Elgibility Criteria for Mass Communication Courses</h2>
<p>In order to be eligible for a diploma Courses in Mass Communication,candiates must meet teh following eligibility criteria mentioned below:-</p>
<li>Candidates can apply for Mass Communication courses after they have passed class 10th or equivalent.</li>
<li>Most colleges admissions are done on the basis of candiates score in the class 10th examination,usually,there is no entrance exam.</li>
<h2 style="color:green;">Mass Communication Exams</h2>
<p>Aspirants can check out the list of mass communication exams in India accepted by different college and institutes.It is important that candidates check out the colleges that accept these exams,their mass communication courses fees,and the mass communication salary offered by them during placements. </p>
<img src="assets/djour3.png">
<h2 style="color:green;">Scope for higher studies in Mass Communication</h2>
<p>After the completion of the Diploma Course, candidates can apply for a bachelor's degree in Mass Communication to border their horizons and increase their employment opportunties.Below are some of the popular mass communication courses that candiadtes can opt for that completing their diploma courses:</p>
<img src="assets/djour4.png">
<h2 style="color:green;">Top colleges for mass communication in India </h2>
<img src="assets/djour5.png">
<h2 style="color:green;">Skills Required to be Mass Communication Specialist </h2>
<p>Candidates need to have certain skills if they want acheive great heights in mass Communication.Some important skills that are required for the profession of mass Communication are given below.</p>
<li>The most basic skill required in the field of mass communication is good communication and writing ability</li>
<li>Candidates must have a flair fro the language in which they wish to purse mass communication programmes</li>
<li>Graduates in this field must have the ability to network and create media contacts to get the latest insights</li>
<li>The ability to work in rough conditions and under pressure is another requirement.</li>
<br>
<p>Here the table depicting the required skillset to purse the mass ommunication course.</p>
<img src="assets/djour6.png">
<h2 style="color:green;">Mass Communication Salary Scope  </h2>
<p> Starting salary in this field will vary from Rs.12,000 to Rs.25,000 per month .After gaining experience of 5 years,you can except a salary of Rs.50,000 to 1,00,000 per month.It is essential to purse mass communication courses from reputed colleges to get a good package.</p> 
<h2 style="color:green;">Mass Communication:Top Recruiters  </h2>
<img src="assets/djour7.png">
