<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <nav>
        
         <ul>
            <li><a class="active"routerLink="/main">Home</a></li>


			<li>
				<a href="#">Courses
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Inter
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a routerLink="/interinsert">insert</a></li>
						 <li><a routerLink="/interget">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">B.tech
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/btechinsert">insert</a></li>
					   <li><a routerLink="/btech">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">PG
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				</ul>
			 </li>




			 <li>
				<a href="#">Details
				<i class="fas fa-caret-down"></i>
				</a>
				<ul> 
				   <li>
					  <a href="#">Login
					  <i class="fas fa-caret-right"></i>
					  </a>
					  <ul>
						 <li><a href="#">insert</a></li>
						 <li><a href="#">read</a></li>					
					  </ul>
				   </li>
				   <li>
					<a href="#">Register
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a routerLink="/registerinsert">insert</a></li>
					   <li><a routerLink="/registerread">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a href="#">Contact
					<i class="fas fa-caret-right"></i>
					</a>
					<ul>
					   <li><a href="#">insert</a></li>
					   <li><a href="#">read</a></li>					
					</ul>
				 </li>
				 <li>
					<a routerLink="/feedback">Feedback
					</a>
				 </li>
				</ul>
			 </li>







			 <li><a href="/future">Course Info</a></li>
			 <li><a routerLink="/gallery">About</a></li>
          
            <li><a routerLink="/main" >Contact</a></li>
            <li><a routerLink="/create">Feedback</a></li>
			<li><a routerLink="/profile" >Profile</a></li>

			<li><a routerLink="/main">Logout</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>
<h2 style="color:green; text-align:center">Diploma in Metallurgical Engineering
</h2>
<img src="assets/dmetallurgey.png">
<p>Diploma in Metallurgical Engineering is one of the popular courses, and students who are inclined towards the excavation and testing of metals can choose this course. Through this course, the candidates are offered theoretical and practical knowledge in terms of basic concepts of Metallurgical Engineering such as Metallic property, metal excavation technology, Metal testing process, metal protection & heat treatment, etc. Students who have passed Class 10th are eligible for admission in Metallurgical Engineering course, and the duration of the same at diploma level is three years. Colleges follow the semester system, and the course is divided into six semesters. 
</p>
<h2 style="color:green;">Diploma in Metallurgical Engineering Course Highlights</h2>
<p>The major highlights of the Diploma in Metallurgical Engineering course are given in the table below:</p>
<img src="assets/dmetalurgy2.png">
<h2 style="color:green;">Diploma in Metallurgical Engineering Eligibility Criteria
</h2>
<p>The candidates who wish to pursue a degree in Diploma in Metallurgical Engineering must fulfil certain eligibility criteria in order to get eligible for the course. 

The eligibility criteria required for admission to Diploma in Metallurgical Engineering is given below:
</p>
<li>The candidates must have passed class 10th or 12th from a recognised board.
</li>
<li>The candidates must have studied science as the main subject in the qualifying degree.
</li>
<li>The candidate must have acquired a minimum aggregate of 50% (45% for the reserved candidates) in the qualifying examination. 
</li>
<li>The candidates who are appearing for the final exam or waiting for the final result can also apply for admission to Diploma in Metallurgical Engineering course.
</li>
<h2 style="color:green;">Diploma in Metallurgical Engineering Admission Process
</h2>
<p>The admission to Diploma in Metallurgical Engineering depends on the type of admission:
</p>
<h2 style="color:green;">Admission Through State/ National Level Entrance Test
</h2>
<p>For admission through the state/ national level entrance test, the following admission process is followed:

Qualifying students are called for the counselling process.

The students are allotted admission to the college based on their rank and availability of seats.

The candidates have to submit the documents and pay an admission fee to secure their seats.
</p>
<h2 style="color:green;">Direct Admission
</h2>
<p>For direct admission, the following admission process is followed:

The candidates will have to visit the admission office along with all the documents.

The candidate will fill the application form and submit the documents.

The candidate will pay the final admission fee to secure their seats.
</p>
<h2 style="color:green;">Diploma in Metallurgical Engineering Course Fee
</h2>
<p>The course fee for Metallurgical Engineering at Diploma level ranges from Rs. 10,000 to Rs. 1,00,000. The fee structure depends on different factors such as the popularity of the institute, demand for the course etc. 
</p>
<h2 style="color:green;">Diploma in Metallurgical Engineering Career Options and Job Prospects
</h2>
<p>After completing a course in Diploma in Metallurgical Engineering,  the candidates can opt for various career opportunities and job prospects. The candidates who have pursued a degree in Diploma in  Metallurgical Engineering can go for either a government-based or a private based Metallurgical Corporation. The various job options which the candidates can take after pursuing a degree in Diploma in Metallurgical Engineering includes
</p>
<li>Assistant Engineer
</li>
<li>Technical Manager
</li>
<li> Research Associate
</li>
<li>Method Pattern Shop Engineer
</li>
<li>Mechanical Design Engineer
</li>
<li>Lab Technician. 
</li>

<h2 style="color:green;">Salary</h2>
<p>Metallurgical engineers may earn around 10-20K Rupees per month (average figure) at start. Starting salary depends on number of factors. Prominent factors include- job location, profile of the employer and job profile.

</p>