<p>diploma works!</p>
<html>
<style>
.box{
height:60px;
width:500px;
border:3px solid black;
}
</style>
<body>
<h2 style="text-align:center">DIPLOMA COURSES</h2>
<a  routerLink="/automobile" style="text-decoration:none"><h2>1.Diploma in Automobile Engineering</h2></a>
<a  routerLink="/cse" style="text-decoration:none"><h2>2.Computer Science & Engineering</h2></a>
<a  routerLink="/ece" style="text-decoration:none"><h2 style="color:purple">3.Electronic and Communication Engineering (DETCE)</h2></a>
<a  routerLink="/mech" style="text-decoration:none"><h2 style="color:purple">4.Diploma in Mechnical Engineering</h2></a>
<a  routerLink="/aero" style="text-decoration:none"> <h2>5.Aeronautical Engineering</h2></a>
<a  routerLink="/info" style="text-decoration:none"><h2>6. Information Science</h2></a>
<a  routerLink="/civil" style="text-decoration:none"><h2>7.civil Engineering (DCE)</h2></a>
<a  routerLink="/eee" style="text-decoration:none"><h2>8.Electrical Engineering (DEE)</h2></a>
<a  routerLink="/metallurgey" style="text-decoration:none" ><h2>9.Metallurgical Engineering</h2></a>
<div>
<div class="box">
<h3 style="color:red">*** Click on it to know more about course  *** </h3>
</div></div>
</body>
</html>